@import "style";
/* ここから下に記載していく */
a{
  text-decoration: none;
}
.eng{
  font-family: Arial, Helvetica, sans-serif;
  font-weight: normal;
  letter-spacing: 3px;
}
.header{
  width: 100%;
  height: 100px;
  top: 0px;
  left: 0px;
  z-index: 7;
  box-shadow: rgba(0, 0, 0, 0.1) 1px 1px 1px 1px;
}
.header_contents{
  width: 90%;
  margin: auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 18px;
}
img{
  padding-top: 0px;
  left: 0%;
  margin-top: -13px;
  width:200px;
  height: 40px;
}
label{
  display: block;
  line-height: 36px;
}
.nav-list{
  display: flex;

}
.nav-item a{
  margin-left: 15px;
  font-size: 21px;
  font-family: Arial, Helvetica, sans-serif;
  letter-spacing: 1px;
}
.mainlogo{
  height:400px;
  /* 背景画像の部分 */
  background: url("../img/photo-main1.png");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;

}
.mainlogo__title{
  padding-top: 238.8px;
  text-align: center;
  font-size: 30px;
  font-weight: bold;
  color: white;

}
.mainlogo__subtitle{
  padding-top: 30px;
  text-align: center;
  font-size: 30px;
  font-weight: bold;
  color: white;
}
/* aboutarea */
.about{
  margin-top: 60px;
  width: 100%;
  text-align: center;
}
.about__title{
  font-size: 24px;
  color: #ffd61a;
  margin-bottom: 15px;
}
.about__subtitle{
  font-size: 18px;
  margin-bottom: 30px;
}
.about__text{
  margin: auto;
  margin-bottom: 40px;
  font-size: 16px;
  max-width: 500px;

}
.about-images{
  margin: auto;
  display: flex;
  padding: 30px 0 0 0;

}
.about-images-each{
  width: 24%;
}
.about-images-each img{
  width: 240px;
  height: 200px;

}
#course{
  width: 100%;
  text-align: center;
  margin-top: 60px;
}
.course__title{
  font-size: 24px;
  font-weight: bold;
  color: #ffd61a;
  margin-bottom: 15px;
}
.course__text{
  text-align: center;
  font-size: 15x;
  margin-bottom: 20px;
  max-width: 500px;
  margin: auto;
}
.course-detail{
  padding: 40px 0 0 0;
}
.course{
  width: 100%;
  height: 220px;
  margin: auto;
  display: flex;
  align-items: center;
  background-color: #FBFBEF;
}
.course1-image{
  width: 50%;
  height: 220px;
  background: url("../img/about3.png");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}
.course-textbox{
  box-sizing: border-box;
  width: 50%;
  padding: 0 51px 0 48px;
}
.course__title2{
  font-size: 16px;
  font-weight: bold;
  margin-bottom: 20px;
}
.course2-image{
  width: 50%;
  height: 220px;
  background: url("../img/course1.png");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}
.course3-image{
  width: 50%;
  height: 220px;
  background: url("../img/about4.png");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}
/* newsエリア */
#news{
  width: 100%;
  text-align: center;
  margin-top: 60px;
}
.news__title{
  font-size: 24px;
  font-weight: bold;
  color: #ffd61a;
  margin-bottom: 15px;
}
.news__subtitle{
  font-size: 18px;
  margin-bottom: 30px;
}
.news-content{
  position: relative;
  padding-left: 15px;
  padding-right: 15px; 
  margin-bottom: 60px;
}
.thumnail{
  margin-top: 30px;
  padding-bottom: 40px; 
  text-align: center;
}
.thumnail img{
  display: table;
  width: 100%;
  height: 200px;
}
.news__date{
  padding-bottom: 30px;
}
.news__article{
  width: 250px;
  text-align: center;
}
.readmore{
  margin-top: 60px;
  text-align: center;
  font-size: 18px;
}
.readmore a{
  width: 300px;
  height: 60px;
  border: 1px solid #909090;
  padding: 15px 100px 14px;
  background-color: #ffffff;
  color: #bbbbbb;
}
.readmore a:hover{
  background-color: #ffd61a;
  color: #FBFBEF;
}
/* accessエリア */
#access{
  margin-top: 60px;
  width: 100%;
  text-align: center;
  background-color: #fafafa;
}
.access__title{
  font-size: 24px;
  font-weight: bold;
  color: #ffd61a;
  margin-bottom: 15px;
}
.access__subtitle{
  font-size: 18px;
  margin-bottom: 30px;
}
.address{
  display: flex;
  flex-wrap: wrap;
  line-height: 32px;
  width: 408px;
  margin: auto;
  margin-top: 60px;
  font-size: 12px;
}
.address dt{
  width: 118px;
  margin-bottom: 30px;
}
.address dd{
  width: 280px;
  height: 50px;
}
/* contactエリア */
#contact{
  margin-top: 60px;
  width: 100%;
  text-align: center;
}
.contact__title{
  font-size: 24px;
  font-weight: bold;
  color: #ffd61a;
  margin-bottom: 15px;
}
.contact__subtitle{
  font-size: 16px;
  margin-bottom: 30px;
}
.contact__text{
  text-align: center;
  font-size: 15px;
  padding-bottom: 30px;
  max-width: 450px;
  margin: auto;
}
.form{
  display: flex;
  width: 600px;
  flex-wrap: wrap;
  margin: auto;
  margin-top: 35px;
  line-height: 35px;
  font-size: 12px;
  text-align: left;
  
}
.form-title{
  width: 118px;
  margin-bottom: 10px;
  
}
.form-detail{
  width: 482px;
  padding-top: 8px;
  padding-bottom: 8px;
}
.form-detail input{
  width: 386px;
  height: 30px;
}
.form-detail select{
  width: 386px;
  height: 30px;
}
.form-radio{
  width: 386px;
}

.form-detail textarea{
  width: 386px;
}
.submit{
  margin-top: 30px;
  text-align: center;
  font-size: 18px;
}
.submit a{
  width: 300px;
  height: 60px;
  border: 1px solid #909090;
  padding: 15px 100px 14px;
  background-color: #ffffff;
  color: #bbbbbb;
}
.submit a:hover{
  background-color: #ffd61a;
  color: #FBFBEF;
}
.footer{
  background: #707070;
  margin-top: 40px;
}
.container{
  margin-top: 140px;
  margin-right: auto;
  margin-left: auto;
  padding-left: 15px;
  padding-right: 15px;
}
.row-text{
  padding-top: 30px;
  padding-bottom: 30px;
  color: #fff;
  text-align: center;
}
@media screen and (max-width: 500px){
header{
  max-width:500px;
}
img{
  left: 0%;
  margin-top: -13px;
  height: 40px;
  width: 70%;
}
.nav-item a{
  margin-left: 15px;
  font-size: 11px;
  font-family: Arial, Helvetica, sans-serif;
  letter-spacing: 1px;
}
.mainlogo{
  max-width: 500px;
}
.about__text {
  width: 95%;
  margin: auto;
}
.about-images{
  width: 100%;
  margin: auto;
  display: block;
}
.about-images-each img{
  width: 320px;
  height: 170px;
}
.accessmap{
  max-width: 500px;
}
.form{
  display: flex;
  width: 370px;
  flex-wrap: wrap;
  margin: auto;
  text-align: left;
}
.form-title {
  width: 60px;
  margin-bottom: 10px;
  padding-right: 60px;
}
.form-detail{
  width: 250px;
}
.form-detail input{
  width: 240px;
  height: 24px;
}
.form-detail select{
  width: 240px;
}
.form-radio{
  width: 240px;
}
.form-detail textarea{
  width: 240px;
}
}

@media screen and (max-width: 767px){
.about-images{
  width: 100%;
  margin: auto;
  display: block;
}
.about-images-each img{
  width: 600px;
  height: 220px;
}
.course{
  padding: 40px 0 0 0;
  width: 100%;
  margin: auto;
}
.news__article{
  margin: auto;
}
}
@media (min-width: 768px){
.news-content{
  display: flex;
  float: left;
  justify-content:center;
  width: 100%;
}
.thumnail{
  margin-right: 15px;
  margin-left: 15px;
}
.thumnail img{
  display: table;
  width: 220px;
  height: 200px;
}
}