a {
  cursor: pointer;
  text-decoration: none;
}
.text1 {
  font-family: "Montserrat", sans-serif;
  font-weight: 600;
  font-size: 20px;
}
.button-default {
  display: block;
  background-color: #ffffffb3;
  border-radius: 10px;
  text-align: center;
  width: 250px;
  -webkit-box-shadow: 0 3px 5px rgba(62, 62, 62, 0.2);
  box-shadow: 0 3px 5px rgba(62, 62, 62, 0.2);
}
.btn-yellow {
  background-color: rgb(255 224 0 / 70%);
  border: 1px solid #fff;
  color: #3e3e3e;
}
.btn-blue {
  background-color: rgba(90, 240, 240, 0.5);
  border: 1px solid #fff;
  color: #3e3e3e;
  width: 500px;
}
.circle {
  color: #3e3e3e;
  background-color: #afeddb;
  padding: 0;
  margin: 0;
  width: 200px;
  height: 200px;
  line-height: 60px;
  text-align: center;
  display: inline-block;
  border-radius: 50%;
}
.header {
  height: 80px;
  text-align: center;
  z-index: 1000;
  background: rgb(183 183 183 / 50%);
  position: fixed;
  /* 中央に持ってくるため */
  right: 0;
  top: 0;
  left: 0;
}
.header-nav {
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  height: 100%;
}
.headernavList {
  display: contents;
}
.header-navItem {
  margin-left: 40px;
}
li.header-navItem:first-child {
  margin: 0;
}
.header-navLink {
  color: #ffffff;
  font-family: "Montserrat", sans-serif;
  position: relative;
  padding: 10px 0;
  font-weight: 600;
}
.header-navLink:after {
  background: #3e3e3e;
  bottom: 0;
  content: "";
  height: 1px;
  left: 0;
  position: absolute;
  width: 100%;
  transition: -webkit-transform 0.2s;
  transition: transform 0.2s;
  transition: transform 0.2s, -webkit-transform 0.2s;
  /* -webkit-transform: scaleX(0); */
  /* transform: scaleX(0); */
  opacity: 0;
}
.header-navLink:hover:after {
  opacity: 1;
  bottom: 0;
}
/*メインビジュアル*/
.hero {
  background-image: url(images/pexels-anastasia-shuraeva-4079281.jpg);
  height: 648px;
  background-repeat: no-repeat;
  background-size: cover;
}
.hero-inner {
  padding: 218px 20px 0 0;
}
.hero-content {
  margin-left: 64px;
  max-width: 475px;
}
.hero-ttl {
  line-height: 80px;
  font-size: 37px;
  font-family: "Montserrat", sans-serif;
  font-weight: bold;
  width: auto;
}
.hero-txt {
  font-size: 30px;
  font-family: "Montserrat", sans-serif;
  font-weight: 600;
  letter-spacing: 1px;
  line-height: 50px;
  margin-top: 16px;
  width: 77%;
}
.hero-link {
  color: #3e3e3e;
  border-radius: 10px;
}
.main-title {
  width: 100%;
  margin-top: 141px;
  line-height: 68px;
  font-size: 30px;
  font-family: "Montserrat", sans-serif;
  font-weight: bold;
  position: relative;
}
.main-title::after {
  content: "";
  right: 180px;
  bottom: 10px;
  position: absolute;
  width: 35px;
  height: 35px;
  background-color: rgb(255 255 255 / 0.5);
  border-radius: 50%;
}
.problem {
  background-image: url(images/pexels-anna-shvets-3845291.jpg);
  height: 648px;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: right;
}
.problem-inner {
  padding: 218px 20px 0 0;
}
.problem-content {
  margin-left: auto;
  max-width: 300px;
}
.util-ttl {
  text-align: center;
  font-size: 22px;
  font-family: "Montserrat", sans-serif;
  font-weight: 600;
}
.problem-txt {
  margin: 32px 48px;
  font-family: "Montserrat", sans-serif;
  font-weight: 600;
  position: relative;
}
.problem-txt::before {
  content: "";
  top: 0;
  left: -50px;
  position: absolute;
  width: 50px;
  height: 50px;
  background-color: #afeddb;
  border-radius: 50%;
}
.possible {
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
  padding: 8px 50px;
  font-size: 18px;
  line-height: 35px;
  width: 100%;
}
.problem-item {
  text-align: left;
}
/* 受講者の声 */
.voice {
  padding-top: 76px;
  background-color: #afeddb;
}
.voice-inner {
  margin: 0 auto;
  max-width: 838px;
  padding-bottom: 60px;
}
.voice .util-ttl {
  color: #3e3e3e;
  text-align: center;
  background-color: #ffaa3b;
  border-radius: 30px;
  line-height: 50px;
  margin: auto;
  font-size: 30px;
  font-weight: 600;
  padding: 8px 48px;
  width: 280px;
}
.voice-items {
  display: flex;
  flex-wrap: wrap;
}
.voice-item {
  width: calc(33.33333333% - 24px * 2 / 3);
  margin-right: 24px;
  margin-top: 24px;
}
.voice-item:nth-child(3n) {
  margin-right: 0;
}
.feature {
  background-image: url(images/pexels-anna-shvets-4226140.jpg);
  height: 648px;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: right;
}
.feature-text {
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
  padding: 8px 50px;
  font-size: 18px;
  line-height: 35px;
  width: 50%;
  margin-left: auto;
}
.feature-inner {
  padding: 60px 20px 0 20px;
}
.feature-list th {
  font-family: "Montserrat", sans-serif;
  padding: 16px;
  font-size: 30px;
  font-weight: 600;
  color: #fff;
  text-align: center;
}
.feature-list td {
  font-family: "Montserrat", sans-serif;
  padding: 20px 0;
  font-size: 20px;
  font-weight: 700;
  text-align: left;
}
.feature-point {
  margin: 20px 0;
  padding: 20px 30px;
}
.teacher {
  width: 90%;
  margin: 0 auto;
}
.teacher-inner {
  display: flex;
  justify-content: center;
  justify-items: flex-start;
  margin: 30px 0 50px;
  padding: 20px;
  background: #fff;
  border: 1px solid #ddd;
}
.teacher .util-ttl {
  color: #3e3e3e;
  text-align: center;
  background-color: #ffaa3b;
  border-radius: 30px;
  line-height: 50px;
  margin: 60px auto;
  font-size: 30px;
  font-weight: 600;
  padding: 8px 40px;
  width: 280px;
}
.teacher-item1 {
  display: flex;
  font-size: 20px;
  text-align: justify;
  position: relative;
}
.teacher-item1:before {
  content: "";
  position: absolute;
  background: url(../manabusanlppage/images/mittani.png) center center/contain
    no-repeat;
  width: 100px;
  height: 100px;
  margin-right: 50px;
  top: -72px;
  left: 0px;
}
.teacher-item2 {
  display: flex;
  font-size: 20px;
  text-align: justify;
  position: relative;
}
.teacher-item2:before {
  content: "";
  position: absolute;
  background: url(../manabusanlppage/images/manabu.png) center center/contain
    no-repeat;
  width: 100px;
  height: 100px;
  margin-right: 50px;
  top: -72px;
  left: 0px;
}
.teacher-explain {
  padding: 30px;
}
.teacher-text {
  margin: 30px auto;
  width: 50%;
  padding: 16px;
}
.course {
  width: 100%;
  height: auto;
  margin: 0;
  position: relative;
  background: rgb(90, 240, 240);
}
.course-inner {
  margin-top: 64px;
  padding: 32px;
}
.course .util-ttl {
  color: #3e3e3e;
  text-align: center;
  background-color: #ffaa3b;
  border-radius: 30px;
  line-height: 50px;
  margin: 30px auto;
  font-size: 30px;
  font-weight: 600;
  padding: 8px 48px;
  width: 280px;
}
.course-list {
  margin: auto;
  width: 50%;
  padding: 50px 30px 20px;
  background: rgb(210, 240, 240);
}
.course-item {
  list-style: disc;
  line-height: 40px;
}
.attention {
  width: 100%;
  height: 600px;
  margin: 0;
  padding: 30px 0;
  background: linear-gradient(rgba(255, 175, 0, 0.3), rgba(255, 175, 0, 0.3)),
    url(../manabusanlppage/images/contact1.jpg);
  background-repeat: no-repeat;
  background-size: cover;
}
.attention-explain {
  width: 50%;
  padding: 50px;
  margin: 30px auto;
  background: rgba(255, 255, 255, 0.6);
  font-size: 35px;
  font-weight: 600;
  font-family: "Montserrat", sans-serif;
  color: black;
  line-height: 62px;
  text-align: center;
}
.contact {
  width: 100%;
  margin: 0 0 -10px;
  padding: 30px 0;
  background: linear-gradient(
      rgba(255, 255, 255, 0.3),
      rgba(255, 255, 255, 0.3)
    ),
    url(../manabusanlppage/images/contact2.jpg);
  background-position: center;
  background-size: cover;
}
.contact-inner {
  width: 80%;
  margin: 0 auto;
  padding: 30px 0;
}
.contact-explain {
  font-size: 30px;
  font-weight: 200;
  color: inherit;
  text-align: center;
  line-height: 80px;
  margin-top: 60px;
}
.contact-button {
  margin: 40px auto;
  padding: 16px 16px;
  font-size: 25px;
  color: #000;
  text-align: center;
  border-radius: 40px;
  font-weight: 600;
  font-family: "Montserrat", sans-serif;
  width: 400px;
}
.footer {
  width: 100%;
  background-color: rgb(60 60 60);
}
.footer p {
  margin: 0;
  padding: 20px;
  font-size: 12px;
  text-align: center;
  color: #fff;
  opacity: 0.9;
}
@media screen and (max-width: 768px) {
  .voice-item {
    width: calc(50% - 24px * 1 / 2);
    margin-right: 8px;
    margin-top: 24px;
  }
  .voice-item:nth-child(2n) {
    margin-right: 0;
  }
}
