a {
  cursor: pointer;
  text-decoration: none;
}
.button-default {
  display: block;
  background-color: #ffffffb3;
  border-radius: 10px;
  text-align: center;
  width: 250px;
  -webkit-box-shadow: 0 3px 5px rgba(62, 62, 62, 0.2);
  box-shadow: 0 3px 5px rgba(62, 62, 62, 0.2);
}
.btn-yellow {
  background-color: rgb(255 224 0 / 70%);
  border: 1px solid #fff;
  color: #3e3e3e;
}
.header {
  height: 80px;
  text-align: center;
  z-index: 1000;
  background: rgba(255, 255, 255, 0.1);
  position: fixed;
  /* 中央に持ってくるため */
  right: 0;
  top: 0;
  left: 0;
}
.header-nav {
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  height: 100%;
}
.headernavList {
  display: contents;
}
.header-navItem {
  margin-left: 40px;
}
li.header-navItem:first-child {
  margin: 0;
}
.header-navLink {
  color: #ffffff;
  font-family: "Montserrat", sans-serif;
  position: relative;
  padding: 10px 0;
  font-weight: 600;
}
.header-navLink:after {
  background: #3e3e3e;
  bottom: 0;
  content: "";
  height: 1px;
  left: 0;
  position: absolute;
  width: 100%;
  transition: -webkit-transform 0.2s;
  transition: transform 0.2s;
  transition: transform 0.2s, -webkit-transform 0.2s;
  /* -webkit-transform: scaleX(0); */
  /* transform: scaleX(0); */
  opacity: 0;
}
.header-navLink:hover:after {
  opacity: 1;
  bottom: 0;
}
/*メインビジュアル*/
.hero {
  background-image: url(images/pexels-anastasia-shuraeva-4079281.jpg);
  height: 648px;
  background-repeat: no-repeat;
  background-size: cover;
}
.hero-inner {
  padding: 218px 20px 0 0;
}
.hero-content {
  margin-left: 64px;
  max-width: 475px;
}
.hero-ttl {
  line-height: 80px;
  font-size: 37px;
  font-family: "Montserrat", sans-serif;
  font-weight: bold;
  width: auto;
}
.hero-txt {
  font-size: 30px;
  font-family: "Montserrat", sans-serif;
  font-weight: 600;
  letter-spacing: 1px;
  line-height: 50px;
  margin-top: 16px;
  width: 77%;
}
.hero-link {
  color: #3e3e3e;
  border-radius: 10px;
}
.main-title {
  width: 100%;
  margin-top: 141px;
  line-height: 68px;
  font-size: 30px;
  font-family: "Montserrat", sans-serif;
  font-weight: bold;
  position: relative;
}
.main-title::after {
  content: "";
  right: 180px;
  bottom: 10px;
  position: absolute;
  width: 35px;
  height: 35px;
  background-color: rgb(255 255 255 / 0.5);
  border-radius: 50%;
}
.problem {
  background-image: url(images/pexels-anna-shvets-3845291.jpg);
  height: 648px;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: right;
}
