@charset "UTF-8";
/*======================================================================
# mixins
=======================================================================*/
/*======================================================================
# colors
=======================================================================*/
/*======================================================================
# fonts
=======================================================================*/
/*======================================================================
# common 全体共通するスタイル
=======================================================================*/
@media screen and (max-width: 767px) {
  .is-pc {
    display: none;
  }
}

@media screen and (min-width: 768px) {
  .is-sp {
    display: none;
  }
}

body {
  font-size: 16px;
  color: #4e3f21;
  font-family: "TsukuBRdGothic-Regular", sans-serif;
  line-height: 1.6875;
}

img {
  width: 100%;
}

.inner {
  max-width: 1366px;
  margin: 0 auto;
  padding: 0 40px;
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
}

/* header
-------------------------------------------------------------------------*/
header {
  background: #fbf9ed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 100;
  height: 150px;
}

.header-inner {
  padding-top: 70px;
  position: relative;
}

.header-inner:before {
  position: absolute;
  display: inline-block;
  content: '';
  width: 100%;
  height: 55px;
  top: 0;
  left: 0;
  background: url(../img/flag1.png) center/cover;
  background-size: 1040px 55px;
}

.header-logo {
  width: 220px;
}

/* footer
-------------------------------------------------------------------------*/
.footer {
  background: #c8a063;
  padding: 20px 40px 20px;
  margin-top: 190px;
  position: relative;
}

.footer:before {
  position: absolute;
  display: inline-block;
  content: '';
  width: 100%;
  height: 90px;
  bottom: 60px;
  left: 0;
  background: url(../img/footer_mori.png) center/cover;
  background-size: 100% 90px;
}

.footer-inner {
  position: relative;
}

@media screen and (min-width: 768px) {
  .footer-inner {
    max-width: 1366px;
    margin: 0 auto;
    padding: 0 120px;
  }
}

.footer-topLink {
  display: block;
  background: url(../img/pagetop_icon.png) center/cover;
  width: 50px;
  height: 50px;
  position: fixed;
  bottom: 16px;
  right: 16px;
  z-index: 100;
}

@media screen and (min-width: 768px) {
  .footer-topLink {
    bottom: 130px;
    right: 20px;
  }
}

.footer-topLink::after {
  display: block;
  content: 'TOP';
  position: absolute;
  width: 15px;
  height: 15px;
  left: 10px;
  top: -25px;
}

.footer-copyright {
  color: #e0e0e0;
  font-size: 16px;
  text-align: center;
}

/* top
-------------------------------------------------------------------------*/
.top {
  padding-top: 20px;
  position: relative;
  background: #fbf9ed;
}

.top-picture {
  padding-top: 35%;
  background: url(../img/kuma.png) no-repeat;
  background-position: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
}

.item1 {
  position: absolute;
  display: inline-block;
  content: '';
  left: 0px;
  top: 250px;
}

.item2 {
  position: absolute;
  display: inline-block;
  content: '';
  left: 170px;
  top: 100px;
}

.item3 {
  position: absolute;
  display: block;
  content: '';
  left: 230px;
  top: 265px;
}

.item4 {
  position: absolute;
  display: block;
  content: '';
  right: 230px;
  top: 255px;
}

.item5 {
  position: absolute;
  display: block;
  content: '';
  right: 180px;
  top: 80px;
}

.item6 {
  position: absolute;
  display: block;
  content: '';
  right: 0;
  top: 220px;
}
/*# sourceMappingURL=style.css.map */