@charset "utf-8";
/*======================================================================
# width
=======================================================================*/
$layout-width-canvas: 1366px;
$layout-width-inner: 1200px;
/*======================================================================
# mixins
=======================================================================*/
//マップ型変数breakpointsを定義
$breakpoints: (
//キー  値
 'sp-down': 'screen and (max-width: 767px)', //767px以下（スマホ）用の表示
 'sp-up': 'screen and (min-width: 768px)', //768px以上（タブレット・PC）用の表示
 'tab-down': "(max-width: #{$layout-width-inner - 1px})",
 'tab-up': "(min-width: #{$layout-width-inner})",
) !default;

//メディアクエリ用のmixinを定義。デフォ値はmd
@mixin mq($breakpoint: sp) {
//map-get(マップ型変数, キー)で値を取得
  @media #{map-get($breakpoints, $breakpoint)} {
    //この中をカスタムできる
    @content;
  }
}
/*======================================================================
# colors
=======================================================================*/
$color-line:#fff338;
$color-main: #87be16;
$color-active: #df7459;
$color-text: #4e3f21;
$color-background1: #fbf9ed;
$color-background2: #fbffdb;
/*======================================================================
# fonts
=======================================================================*/
$font-family-english: "Montserrat", sans-serif;
$font-family-default: 'TsukuBRdGothic-Regular', sans-serif;

/*======================================================================
# common 全体共通するスタイル
=======================================================================*/
@include mq('sp-down'){
  .is-pc{
    display: none;
  }
}

@include mq('sp-up'){
  .is-sp{
    display: none;
  }
}
body{
 font-size: 16px;
 color: $color-text;
 font-family:$font-family-default;
 line-height: 1.6875;
}
// 外枠に対して100%で画像を広げたいので
img{
  width: 100%;
}
.inner{
  max-width: 1366px;
  margin: 0 auto;
  padding: 0 40px;
  // paddingも含めて1366pxにするため
  box-sizing: content-box;
}
/* header
-------------------------------------------------------------------------*/
header{
  background: #fbf9ed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 100;
  height: 150px;
}
.header-inner{
  padding-top: 70px;
  position: relative;
  &:before{
    position: absolute;
    display: inline-block;
    content: '';
    width: 100%;
    height: 55px;
    top: 0;
    left: 0;
    background: url(../img/flag1.png) center/cover;
    background-size: 1040px 55px;
  }
}
.header-logo{
  width: 220px;

}
/* footer
-------------------------------------------------------------------------*/
.footer {
  background: #c8a063;
  padding: 30px 40px 30px;
  position: relative;

  &:before {
    position: absolute;
    display: inline-block;
    content: '';
    width: 100%;
    height: 90px;
    bottom: 80px;
    left: 0;
    background: url(../img/footer_mori.png) center/cover;
    background-size: 100% 90px;
  }
}
.footer-inner{
  position: relative;
	@include mq('sp-up') {
    max-width: 1366px;
    margin: 0 auto;
    padding: 0 120px;
  }
}
.footer-topLink{
  display: block;
  background: url(../img/pagetop_icon.png)center/cover;
  width: 50px;
  height: 50px;
  position: fixed;
  bottom: 16px;
  right: 16px;
  z-index: 100;
  // スクロールされるまでは消えている状態
  // opacity: 0;
  // visibility: hidden;
  // transition: .5s;
  @include mq('sp-up') {
    bottom: 160px;
    right: 20px;
  }
  &::after{
    display: block;
    content: 'TOP';
    position: absolute;
    width: 15px;
    height: 15px;
    left: 10px;
    top: -30px;
    color: $color-text;
    font-weight: 600;
  }
  .add-scrolled & {
		// opacity: 1;
		// visibility: visible;
	}
}

.footer-copyright{
  color: #e0e0e0;
  font-size: 16px;
  text-align: center;
}
/*======================================================================
# main
=======================================================================*/
/* util
-------------------------------------------------------------------------*/
.util-title{
  font-size: 40px;
  font-weight: bold;
  text-align: center;
  line-height: 1;
  position: relative;
  letter-spacing: .15em;
  max-width: fit-content;
  margin: 0 auto;

  &::before{
    content: '';
    display: block;
    background: url(../img/leaf2.png);
    background-repeat: no-repeat;
    width: 50px;
    height: 50px;
    position: absolute;
    right: -65px;
    top: 0;
  }
  &::after{
    content: '';
    display: block;
    background: url(../img/leaf1.png)no-repeat;
    width: 50px;
    height: 50px;
    position: absolute;
    left: -65px;
    top: 0;
  }
}
.util-link{
  font-size: 32px;
  letter-spacing: .05em;
  color: #fff;
  background: #87be16;
  display: block;
  padding: 20px 60px;
  border-radius: 50px;
  font-weight: 600;
  text-align: center;
  width: 400px;
  margin: auto;
  &:hover{
    background: #df7459;
    color: #fff;
  }
}
/*======================================================================
# common
=======================================================================*/
.important{
  color: #df7459;
  font-size: 32px;
}
.big{
  font-size: 46px;
}
.svg{
  .svg-box1{
    position: absolute;
    right: 0;
    left: 0;
    line-height: 1;
    font-size: 0;
    height: 100px;
    svg{
      position: absolute;
      top: -170px;
      left: 0;
      display: block;
      width: 100%;
      height: 100%;
    }
  }
  .svg-box2{
    position: absolute;
    right: 0;
    left: 0;
    line-height: 1;
    font-size: 0;
    height: 100px;
    svg{
      position: absolute;
      top: 0;
      left: 0;
      display: block;
      width: 100%;
      height: 100%;
      transform: rotate(180deg);
    }
  }

  
}

/* top
-------------------------------------------------------------------------*/
.top{
  padding-top: 20px;
  position: relative;
  background: #fbf9ed;
  // 下を丸くする
  border-bottom-right-radius: 2000px 300px;
  border-bottom-left-radius: 2000px 300px;
}
.top-picture{
  padding-top: 35%;
  background: url(../img/kuma.png) no-repeat;
  background-position: center;
  display: flex;
  position: relative;
}
.item1 {
  position: absolute;
  display: inline-block;
  content: '';

  @include mq('tab-up'){
    left: 0px;
    top: 250px;
  }
}
.item2{
  position: absolute;
  display: inline-block;
  content: '';

  @include mq('tab-up'){
    left: 170px;
    top: 100px;  
  }

}
.item3 {
  position: absolute;
  display: block;
  content: '';
  @include mq('tab-up'){
    left: 230px;
    top: 265px;
  }

}
.item4 {
  position: absolute;
  display: block;
  content: '';
  @include mq('tab-up'){
    right: 230px;
    top: 255px;
  }

}
.item5{
  position: absolute;
  display: block;
  content: '';
  @include mq('tab-up'){
    right: 180px;
    top: 80px;
  }
}
.item6 {
  position: absolute;
  display: block;
  content: '';
  @include mq('tab-up'){
    right: 0;
    top: 220px;
  }
}
.top-content{
  padding-top: 80px;
  margin: 0 auto;
  width: max-content;
}
.top-ttl{
  font-size: 24px;
  font-weight: 600;
  padding-bottom: 48px;
}
.top-btn{
  padding-bottom: 110px;
}
/* concept
-------------------------------------------------------------------------*/
.concept{
  padding-top: 72px;

}
.concept-inner{
  padding-top: 48px;
  padding-bottom: 140px;
  max-width: max-content;
  margin: 0 auto;
  text-align: center;
  
}
.concept-message-title{
  font-size: 24px;
  font-weight: 600;
  border-bottom: solid;
  border-color: $color-line;
  border-width: 10px;/*10ピクセルの太さにする*/
}
.concept-message-text{
  padding-top: 32px;
  font-size: 18px;
  font-weight: 600;
  line-height: 2.5;
}
.concept-picture{
  display: flex;
  position: relative;
  z-index: 10;
  background: url(../img/kinoko.png) no-repeat;
  background-position: center;
  padding-top: 5%;
  .img1 {
    position: absolute;
    display: block;
    content: '';

    @include mq('tab-up'){
      left: 70px;
      bottom: 0;
    }
  }
  .img2 {
    position: absolute;
    display: block;
    content: '';

    @include mq('tab-up'){
      left: 230px;
      bottom: -10px;
    }
  }
  .img3 {
    position: absolute;
    display: block;
    content: '';

    @include mq('tab-up'){
      right: 230px;
      bottom: 10px;
    }
  }
  .img4 {
    position: absolute;
    display: block;
    content: '';

    @include mq('tab-up'){
      right: 70px;
      bottom: 0;
    }
  }
}
/* feature
-------------------------------------------------------------------------*/
.feature{
  padding-top: 72px;
  background: $color-background2;
  text-align: center;
}
.feature-list{
  padding-top: 32px;
  margin: 0;
}
.feature-item{
  display: inline-block;
  +.feature-item{
    @include mq('tab-up'){
    margin-left: 56px;
    margin-top: 48px;
    }
  }
}
.feature-item-title{
  font-size: 24px;
  font-weight: 600;
}
.feature-footer{
  padding-top: 72px;
  padding-bottom: 70px;
  max-width: max-content;
  margin: 0 auto;
  text-align: center;
}
.feature-message-title{
  font-size: 24px;
  font-weight: 600;
  border-bottom: solid;
  border-color: $color-line;
  border-width: 10px;/*10ピクセルの太さにする*/
}
/* about
-------------------------------------------------------------------------*/
.about{
  padding-top: 112px;
}
.about-list{
  padding-top: 72px;
}
.about-item{
  font-size: 14px;
  font-weight: 600;
  text-align: justify;
  display: flex;
  max-width: 640px;
  margin: 0 auto;
  
  @include mq('sp-up'){
    font-size: 18px;
  }
  &::before{
    content: '';
    display: block;
    flex: 0 0 180px;
    height: 180px;
    margin-right: 40px;
  }
  &:nth-child(1)::before{
    background: url(../img/plofille_img.png);
  }
  &:nth-child(2)::before{
    width: 40px;
    height: 40px;
  }
}
.about-sns-list{
  display: flex;
  max-width: 430px;
  margin-left: auto;
  padding: 48px 0 110px
}
.about-sns-item{
  +.about-sns-item{
    padding-left: 24px;
  }
}
.about-sns-item-link{
  display: block;
}
/* contact
-------------------------------------------------------------------------*/
.contact{
  padding: 120px 0 100px;
  background: $color-background1;

}
.contact-picture{
  padding-top: 15%;
  background: url(../img/ribon.png) no-repeat;
  background-position: center;
  position: relative;
  top: -220px;

  &::before{
    content: '';
    display: block;
    background: url(../img/flag_right.png);
    background-repeat: no-repeat;
    width: 45%;
    height: 100%;
    position: absolute;
    right: 5px;
    top: 100px;
  }
  &::after{
    content: '';
    display: block;
    background: url(../img/flag_left.png) no-repeat;
    width: 50%;
    height: 100%;
    position: absolute;
    right: 665px;
    top: 100px;
  }
}
.section{
  margin-top: -200px;
}
.contact-ttl{
  font-size: 24px;
  font-weight: bold;
  text-align: center;
  line-height: 1;
  letter-spacing: .15em;
  max-width: fit-content;
  margin: 0 auto;
  padding-top: 48px;
}
.contact-button{
  margin-top: 72px;
}
.contact-link-inline{
  font-size: 18px;
  // 米印を上に持ってくる
  vertical-align: super;
}
.contact-text{
  font-size: 18px;
  font-weight: 600;
  text-align: center;
  line-height: 1;
  letter-spacing: .15em;
  max-width: fit-content;
  margin: 0 auto;
  padding: 24px 0 100px;
}