@charset "utf-8";
/*======================================================================
# mixins
=======================================================================*/
//マップ型変数breakpointsを定義
$breakpoints: (
//キー  値
 'sp-down': 'screen and (max-width: 767px)', //767px以下（スマホ）用の表示
 'sp-up': 'screen and (min-width: 768px)' //768px以上（タブレット・PC）用の表示
) !default;

//メディアクエリ用のmixinを定義。デフォ値はmd
@mixin mq($breakpoint: md) {
//map-get(マップ型変数, キー)で値を取得
  @media #{map-get($breakpoints, $breakpoint)} {
    //この中をカスタムできる
    @content;
  }
}
/*======================================================================
# colors
=======================================================================*/
$primary-color:#3EA1D1;
$font-color:#4e3f21;
/*======================================================================
# fonts
=======================================================================*/
$font-family-english: "Montserrat", sans-serif;
$font-family-default: 'TsukuBRdGothic-Regular', sans-serif;
/*======================================================================
# common 全体共通するスタイル
=======================================================================*/
@include mq(sp-down){
  .is-pc{
    display: none;
  }
}

@include mq(sp-up){
  .is-sp{
    display: none;
  }
}
body{
 font-size: 16px;
 color: $font-color;
 font-family:$font-family-default;
 line-height: 1.6875;
}
// 外枠に対して100%で画像を広げたいので
img{
  width: 100%;
}
.inner{
  max-width: 1366px;
  margin: 0 auto;
  padding: 0 40px;
  // paddingも含めて1366pxにするため
  box-sizing: content-box;
}
/* header
-------------------------------------------------------------------------*/
header{
  background: #fbffdb;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 100;
  height: 150px;
}
.header-inner{
  padding-top: 100px;
  position: relative;
  &:before{
    position: absolute;
    display: inline-block;
    content: '';
    width: 100%;
    height: 55px;
    top: 0;
    left: 0;
    background: url(../img/flag1.png) center/cover;
    background-size: 1040px 55px;
  }
}
.header-logo{
  width: 120px;

}
/* footer
-------------------------------------------------------------------------*/
.footer {
  background: #c8a063;
  padding: 20px 40px 20px;
  margin-top: 190px;
  position: relative;

  &:before {
    position: absolute;
    display: inline-block;
    content: '';
    width: 100%;
    height: 90px;
    bottom: 60px;
    left: 0;
    background: url(../img/footer_mori.png) center/cover;
    background-size: 100% 90px;
  }
}
.footer-inner{
  position: relative;
	@include mq('sp-up') {
    max-width: 1366px;
    margin: 0 auto;
    padding: 0 120px;
  }
}
.footer-topLink{
  display: block;
  background: url(../img/pagetop_icon.png)center/cover;
  width: 50px;
  height: 50px;
  position: fixed;
  bottom: 16px;
  right: 16px;
  z-index: 100;
  // スクロールされるまでは消えている状態
  // opacity: 0;
  // visibility: hidden;
  // transition: .5s;
  @include mq('sp-up') {
    bottom: 130px;
    right: 20px;
  }
  &::after{
    display: block;
    content: 'TOP';
    position: absolute;
    width: 15px;
    height: 15px;
    left: 10px;
    top: -25px;
  }
  .add-scrolled & {
		// opacity: 1;
		// visibility: visible;
	}
}

.footer-copyright{
  color: #e0e0e0;
  font-size: 16px;
  text-align: center;
}
/* top
-------------------------------------------------------------------------*/
.top{
  padding-top: 150px;
}