@charset "UTF-8";
/*======================================================================
# colors
=======================================================================*/
/*======================================================================
# fonts
=======================================================================*/
/*======================================================================
# common 全体共通するスタイル
=======================================================================*/
@media screen and (max-width: 767px) {
  .is-pc {
    display: none;
  }
}

@media screen and (min-width: 768px) {
  .is-sp {
    display: none;
  }
}

body {
  background: #f3f3f3;
  color: #3e3e3e;
  font-family: "游ゴシック", YuGothic, "ヒラギノ角ゴ ProN W3", "Hiragino Kaku Gothic ProN", "メイリオ", Meiryo, "Droid Sans", sans-serif;
  line-height: 1.5;
}

img {
  width: 100%;
}

.util-ttl {
  font-family: "Montserrat", sans-serif;
  font-size: 30px;
  font-weight: 600;
}

@media screen and (min-width: 768px) {
  .util-ttl {
    font-size: 36px;
  }
}

.util-link {
  border: 1px solid #fff;
  color: #3E3E3E;
  display: block;
  font-family: "Montserrat", sans-serif;
  font-size: 20px;
  font-weight: 600;
  letter-spacing: 4px;
  padding: 16px 0;
  text-align: center;
}

@media screen and (min-width: 768px) {
  .util-link:hover {
    background: #3e3e3e;
    color: #fff;
  }
}

/* header
-------------------------------------------------------------------------*/
.header {
  background: rgba(255, 255, 255, 0.1);
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 100;
}

.add-scrolled .header {
  background: rgba(255, 255, 255, 0.6);
}

@media screen and (min-width: 768px) {
  .header {
    height: 80px;
  }
}

@media screen and (max-width: 767px) {
  .header {
    background: rgba(255, 255, 255, 0.6);
    height: 68px;
  }
}

@media screen and (min-width: 768px) {
  .header-ttl {
    display: none;
  }
}

@media screen and (max-width: 767px) {
  .header-ttl {
    font-size: 23px;
    font-weight: 700;
    margin: 20px 0 0 16px;
    font-family: "Montserrat", sans-serif;
  }
}

@media screen and (max-width: 767px) {
  .add-active .header-ttl {
    opacity: 0;
  }
}

.header-nav {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

@media screen and (min-width: 768px) {
  .header-nav {
    height: 100%;
  }
}

@media screen and (max-width: 767px) {
  .header-nav {
    position: fixed;
    background: #fff;
    text-align: center;
    width: 300px;
    z-index: 10;
    top: 0;
    bottom: 0;
    right: -300px;
    -webkit-transition: right 0.3s linear;
    transition: right 0.3s linear;
  }
}

@media screen and (max-width: 767px) and (max-width: 767px) {
  .add-active .header-nav {
    right: 0;
  }
}

/* ハンバーガーメニュー
-------------------------------------------------------------------------*/
.header-burger {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  background-color: transparent;
}

@media screen and (max-width: 767px) {
  .header-burger {
    display: block;
    height: 26px;
    width: 26px;
    position: absolute;
    top: 20px;
    left: -40px;
  }
}

@media screen and (max-width: 767px) {
  .header-burgerInline {
    position: absolute;
    display: block;
    content: "";
    width: 26px;
    height: 4px;
    z-index: 20;
    background-color: #3e3e3e;
  }
  .header-burgerInline:nth-child(1) {
    top: 2px;
  }
  .header-burgerInline:nth-child(2) {
    top: 10px;
  }
  .header-burgerInline:nth-child(3) {
    top: 18px;
  }
}

@media screen and (max-width: 767px) {
  .add-active .header-burgerInline {
    background-color: #3e3e3e;
  }
  .add-active .header-burgerInline:nth-child(1) {
    top: 10px;
    -webkit-transform: rotate(-45deg);
            transform: rotate(-45deg);
    left: 300px;
  }
  .add-active .header-burgerInline:nth-child(2) {
    left: 100%;
    opacity: 0;
  }
  .add-active .header-burgerInline:nth-child(3) {
    top: 10px;
    -webkit-transform: rotate(45deg);
            transform: rotate(45deg);
    left: 300px;
  }
}

/* ハンバーガーメニューを押したときのアニメーション
-------------------------------------------------------------------------*/
.header-overlay {
  background: rgba(0, 0, 0, 0.7);
  bottom: 0;
  opacity: 0;
  position: fixed;
  top: 0;
  -webkit-transition: .3s;
  transition: .3s;
  visibility: hidden;
  width: 100%;
}

.add-active .header-overlay {
  opacity: 1;
  visibility: visible;
}

@media screen and (min-width: 768px) {
  .header-navList {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
}

@media screen and (max-width: 767px) {
  .header-navList {
    padding: 16px;
  }
}

@media screen and (min-width: 768px) {
  .header-navItem + .header-navItem {
    margin-left: 40px;
  }
}

@media screen and (max-width: 767px) {
  .header-navItem + .header-navItem {
    margin-top: 32px;
  }
}

.header-navLink {
  color: #3E3E3E;
  font-weight: 500;
  font-family: "Montserrat", sans-serif;
  font-size: 16px;
  letter-spacing: -0.4px;
  position: relative;
}

@media screen and (min-width: 768px) {
  .header-navLink {
    padding: 8px 0;
  }
  .header-navLink::after {
    background: #3e3e3e;
    bottom: 0;
    content: '';
    height: 1px;
    width: 100%;
    left: 0;
    position: absolute;
    -webkit-transform: scale(0);
            transform: scale(0);
    -webkit-transition: -webkit-transform .2s;
    transition: -webkit-transform .2s;
    transition: transform .2s;
    transition: transform .2s, -webkit-transform .2s;
  }
  .header-navLink:hover::after {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}

@media screen and (max-width: 767px) {
  .header-navLink {
    font-size: 18px;
  }
}

/* footer
-------------------------------------------------------------------------*/
.footer {
  background: #3E3E3E;
  padding: 50px 0 56px;
}

@media screen and (max-width: 767px) {
  .footer {
    padding: 52px 16px 56px;
    text-align: center;
  }
}

@media screen and (min-width: 768px) {
  .footer-inner {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 120px;
  }
}

.footer-topLink {
  display: block;
  border: 1px solid #3e3e3e;
  background: rgba(255, 255, 255, 0.8);
  width: 50px;
  height: 50px;
  position: fixed;
  bottom: 16px;
  right: 16px;
  z-index: 100;
  opacity: 0;
  visibility: hidden;
  -webkit-transition: .5s;
  transition: .5s;
}

@media screen and (min-width: 768px) {
  .footer-topLink {
    bottom: 40px;
    right: 40px;
  }
}

.footer-topLink::after {
  display: block;
  content: '';
  position: absolute;
  width: 15px;
  height: 15px;
  border-right: 3px solid #3e3e3e;
  border-top: 3px solid #3e3e3e;
  -webkit-transform: rotate(-45deg);
          transform: rotate(-45deg);
  left: 15px;
  top: 20px;
}

.add-scrolled .footer-topLink {
  opacity: 1;
  visibility: visible;
}

.footer-snsList {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

@media screen and (max-width: 767px) {
  .footer-snsList {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

.footer-snsLink {
  color: #fff;
  font-size: 36px;
  opacity: 0.6;
  -webkit-transition: opacity 0.2s;
  transition: opacity 0.2s;
}

@media screen and (min-width: 768px) {
  .footer-snsLink:hover {
    opacity: 1;
  }
}

@media screen and (min-width: 768px) {
  .footer-snsItem + .footer-snsItem {
    margin-left: 30px;
  }
}

@media screen and (max-width: 767px) {
  .footer-snsItem {
    margin-right: 48px;
  }
  .footer-snsItem:last-child {
    margin-right: 0;
  }
}

.footer-navList {
  margin-top: 26px;
}

@media screen and (max-width: 767px) {
  .footer-navList {
    display: block;
    margin: 40px 0;
  }
}

@media screen and (max-width: 767px) {
  .footer-navItem {
    margin-bottom: 12px;
  }
  .footer-navItem:last-child {
    margin-bottom: 0;
  }
}

.footer-navItem + .footer-navItem {
  margin-top: 18px;
}

.footer-navLink {
  color: #fff;
  display: inline-block;
  font-size: 14px;
  letter-spacing: 0.4px;
}

@media screen and (min-width: 768px) {
  .footer-navLink {
    font-size: 16px;
    position: relative;
  }
}

@media screen and (max-width: 767px) {
  .footer-navLink {
    line-height: 1.8;
  }
}

@media screen and (min-width: 768px) {
  .footer-navLink::after {
    background: #fff;
    bottom: -5px;
    content: '';
    height: 1px;
    width: 100%;
    left: 0;
    position: absolute;
    -webkit-transform: scale(0);
            transform: scale(0);
    -webkit-transition: -webkit-transform .2s;
    transition: -webkit-transform .2s;
    transition: transform .2s;
    transition: transform .2s, -webkit-transform .2s;
  }
}

.footer-navLink:hover::after {
  -webkit-transform: scale(1);
          transform: scale(1);
}

@media screen and (min-width: 768px) {
  .footer-company {
    margin-left: auto;
    padding-top: 6px;
  }
}

.footer-companyName {
  color: #fff;
  font-size: 32px;
  font-weight: bold;
  font-family: "Montserrat", sans-serif;
  line-height: 1.4;
}

@media screen and (min-width: 768px) {
  .footer-companyName {
    font-size: 40px;
  }
}

.footer-copylight {
  color: #fff;
  display: block;
  font-size: 12px;
  font-family: "Montserrat", sans-serif;
  line-height: 1.25;
  letter-spacing: 0.3px;
  opacity: 0.6;
  margin-top: 8px;
}

@media screen and (min-width: 768px) {
  .footer-copylight {
    text-align: right;
  }
}

/* hero
-------------------------------------------------------------------------*/
.hero {
  height: 648px;
  background: url(../images/mv.png);
  background-size: cover;
  background-position: 20%;
}

@media screen and (min-width: 768px) {
  .hero {
    background: url(../images/mv.png) center center/cover;
  }
}

@media screen and (max-width: 767px) {
  .hero {
    height: 668px;
  }
}

@media screen and (min-width: 768px) {
  .hero-inner {
    max-width: 1280px;
    padding: 228px 20px 0 0;
  }
}

@media screen and (max-width: 767px) {
  .hero-inner {
    width: 100%;
    padding: 220px 16px 0;
  }
}

@media screen and (min-width: 768px) {
  .hero-content {
    max-width: 600px;
    margin-left: auto;
  }
}

.hero-ttl {
  font-size: 24px;
  font-weight: bold;
  line-height: 1.66667;
}

@media screen and (min-width: 768px) {
  .hero-ttl {
    font-size: 32px;
    line-height: 1.5;
  }
}

.hero-txt {
  font-size: 18px;
  font-weight: bold;
  letter-spacing: 0.45px;
  margin-top: 33px;
}

@media screen and (max-width: 767px) {
  .hero-txt {
    font-size: 14px;
    line-height: 1.42857;
    margin-top: 20px;
  }
}

.hero-link,
.contact-button {
  display: block;
  background-color: #ffaa3b;
  -webkit-box-shadow: 0 3px 5px rgba(62, 62, 62, 0.2);
          box-shadow: 0 3px 5px rgba(62, 62, 62, 0.2);
  border-radius: 10px;
  color: #fff;
  font-size: 18px;
  font-weight: bold;
  letter-spacing: 0.45px;
  height: 50px;
  line-height: 50px;
  width: 280px;
  text-align: center;
  margin-top: 40px;
}

@media screen and (min-width: 768px) {
  .hero-link:not(.-submit):hover,
  .contact-button:not(.-submit):hover {
    background: #f18900;
  }
}

@media screen and (max-width: 767px) {
  .hero-link,
  .contact-button {
    margin: 30px auto 0;
    width: 222px;
    font-size: 16px;
  }
}

/* news
-------------------------------------------------------------------------*/
.news .util-ttl {
  text-align: center;
}

@media screen and (min-width: 768px) {
  .news {
    margin: 120px auto;
    max-width: 1200px;
    width: 100%;
  }
  .news .util-link {
    width: 236px;
  }
  .news .util-link:hover {
    background: #3e3e3e;
    color: #fff;
  }
}

.news .util-linkBox {
  margin: 38px 0;
}

@media screen and (max-width: 767px) {
  .news .util-linkBox {
    margin: 38px 16px 0;
  }
}

.news .util-link {
  margin: 0 auto;
  padding: 16px 0;
  border: 1px solid #707070;
}

@media screen and (max-width: 767px) {
  .news .util-link {
    padding: 13px 0;
  }
}

@media screen and (max-width: 767px) {
  .news {
    margin: -40px 16px 0;
    position: relative;
    z-index: 10;
  }
}

.news-inner {
  background: #fff;
  -webkit-box-shadow: 0 5px 12px rgba(62, 62, 62, 0.2);
          box-shadow: 0 5px 12px rgba(62, 62, 62, 0.2);
}

@media screen and (min-width: 768px) {
  .news-inner {
    padding: 56px 48px 40px;
  }
}

@media screen and (max-width: 767px) {
  .news-inner {
    padding: 36px 0 38px;
  }
}

.news-list {
  border-top: 2px solid #CECDCD;
  margin-top: 55px;
}

@media screen and (max-width: 767px) {
  .news-list {
    margin-top: 36px;
  }
}

.news-item {
  border-bottom: 2px solid #CECDCD;
  font-size: 18px;
}

.news-itemLink {
  color: #3E3E3E;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  letter-spacing: 0.45px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
  -webkit-transition: background-color .2s;
  transition: background-color .2s;
}

@media screen and (min-width: 768px) {
  .news-itemLink {
    padding: 38px 110px 38px 12px;
  }
  .news-itemLink:hover {
    background-color: rgba(73, 115, 255, 0.1);
  }
}

@media screen and (max-width: 767px) {
  .news-itemLink {
    padding: 12px 34px 12px 16px;
  }
}

.news-itemLink::after {
  display: block;
  content: '';
  width: 15px;
  height: 15px;
  top: 50%;
  right: 18px;
  position: absolute;
  border-right: solid 3px #3E3E3E;
  border-top: solid 3px #3E3E3E;
  -webkit-transform: rotate(45deg) translateY(-50%);
          transform: rotate(45deg) translateY(-50%);
}

@media screen and (max-width: 959px) {
  .news-itemLink {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
}

.news-itemDate {
  font-family: "Montserrat", sans-serif;
  white-space: nowrap;
  font-weight: 400;
}

@media screen and (max-width: 767px) {
  .news-itemDate {
    font-size: 14px;
  }
}

.news-itemCategory {
  border: 2px solid #3B69FF;
  border-radius: 30px;
  font-size: 12px;
  letter-spacing: 0.35px;
  line-height: 1.8;
  margin-left: 38px;
}

@media screen and (min-width: 768px) {
  .news-itemCategory {
    font-size: 14px;
    padding: 0 30px;
    white-space: nowrap;
  }
}

@media screen and (max-width: 767px) {
  .news-itemCategory {
    padding: 0 14px;
  }
}

@media screen and (max-width: 959px) {
  .news-itemCategory {
    margin-left: 20px;
  }
}

.news-itemTxt {
  line-height: 1.6;
  margin-left: 40px;
  letter-spacing: 0.45px;
}

@media screen and (max-width: 767px) {
  .news-itemTxt {
    font-size: 14px;
    line-height: 1.42857;
    -webkit-box-flex: 0;
        -ms-flex: 0 0 100%;
            flex: 0 0 100%;
    margin: 8px auto;
  }
}

/* service
-------------------------------------------------------------------------*/
.service {
  background: linear-gradient(to bottom, #3E3E3E 0, #3E3E3E 400px, transparent 400px, transparent 100%);
  margin-top: 60px;
  padding-top: 38px;
}

.service .util-ttl {
  color: #FFF;
  text-align: center;
}

@media screen and (min-width: 768px) {
  .service {
    margin-top: 120px;
    padding-top: 58px;
  }
}

.service-inner {
  max-width: 960px;
  margin: 60px auto;
}

@media screen and (max-width: 767px) {
  .service-inner {
    margin: 38px 16px 0;
  }
}

.service-list {
  background: #fff;
  -webkit-box-shadow: 0 5px 12px rgba(62, 62, 62, 0.2);
          box-shadow: 0 5px 12px rgba(62, 62, 62, 0.2);
}

@media screen and (min-width: 768px) {
  .service-list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
}

@media screen and (max-width: 767px) {
  .service-list {
    padding: 40px 0 34px;
  }
}

.service-item {
  padding: 0 16px;
}

@media screen and (max-width: 767px) {
  .service-item + .service-item {
    margin-top: 40px;
  }
}

@media screen and (min-width: 768px) {
  .service-item {
    -webkit-box-flex: 0;
        -ms-flex: 0 1 33.3333%;
            flex: 0 1 33.3333%;
    padding: 60px 45px;
  }
}

.service-item dt {
  font-size: 20px;
  font-weight: 600;
  font-family: "Montserrat", sans-serif;
  letter-spacing: 4px;
  line-height: 1.4;
  text-align: center;
  padding-top: 72px;
  background-repeat: no-repeat;
  background-position: center top 12px;
}

@media screen and (max-width: 767px) {
  .service-item dt {
    background-size: 52px;
  }
}

.service-item:nth-child(1) dt {
  background-image: url(../images/service1.svg);
}

.service-item:nth-child(2) dt {
  background-image: url(../images/service2.svg);
}

@media screen and (max-width: 767px) {
  .service-item:nth-child(2) dt {
    padding-top: 66px;
  }
}

.service-item:nth-child(3) dt {
  background-image: url(../images/service3.svg);
}

@media screen and (max-width: 767px) {
  .service-item:nth-child(3) dt {
    padding-top: 66px;
  }
}

.service-item dd {
  font-size: 14px;
  line-height: 1.6;
  margin-top: 18px;
}

@media screen and (max-width: 767px) {
  .service-item dd {
    margin-top: 12px;
  }
}

/* results
-------------------------------------------------------------------------*/
.results {
  background: #3E3E3E;
  margin: 60px 0 0 0;
  padding: 40px 0 40px 16px;
}

@media screen and (min-width: 768px) {
  .results {
    margin: 120px 0 0 auto;
    padding: 60px 0 60px 60px;
  }
}

@media screen and (max-width: 767px) {
  .results {
    padding-top: 36px;
    margin-top: 60px;
  }
}

.results .util-ttl {
  color: #fff;
}

@media screen and (max-width: 767px) {
  .results .util-ttl {
    text-align: center;
  }
}

@media screen and (min-width: 768px) {
  .results .util-linkBox {
    margin: 40px 0 0 0;
  }
}

@media screen and (max-width: 767px) {
  .results .util-linkBox {
    margin: 30px 16px 0 0;
  }
}

.results .util-link {
  color: #fff;
}

@media screen and (min-width: 768px) {
  .results .util-link {
    max-width: 289px;
  }
}

.results-container {
  margin-top: 40px;
}

@media screen and (min-width: 768px) {
  .results-container {
    margin-top: 60px;
  }
}

.results-pagination {
  margin-top: 30px;
  position: static !important;
}

@media screen and (min-width: 768px) {
  .results-pagination {
    margin: 44px 0 0 0;
    text-align: left !important;
  }
}

.results-pagination .swiper-pagination-bullet {
  background: #fff;
  width: 12px;
  height: 12px;
  position: relative;
}

.results-pagination .swiper-pagination-bullet + .swiper-pagination-bullet {
  margin-left: 20px;
}

.results-pagination .swiper-pagination-bullet-active::after {
  content: '';
  position: absolute;
  width: 20px;
  height: 20px;
  border: 1px solid #fff;
  border-radius: 50%;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

.results-itemLink {
  display: block;
  color: #3E3E3E;
  background: #fff;
}

@media screen and (min-width: 768px) {
  .results-itemLink {
    -webkit-transition: opacity .2s;
    transition: opacity .2s;
  }
  .results-itemLink:hover {
    opacity: 0.7;
  }
}

.results-itemLinkInner {
  padding: 12px 12px 8px;
}

@media screen and (min-width: 768px) {
  .results-itemLinkInner {
    padding: 16px 16px 20px;
  }
}

.results-ittemFlg img {
  width: 100%;
}

.results-itemTtl {
  font-size: 14px;
  font-weight: bold;
}

@media screen and (min-width: 768px) {
  .results-itemTtl {
    font-size: 20px;
  }
}

.results-itemTxt {
  font-size: 12px;
  margin-top: 8px;
  line-height: 1.5;
}

@media screen and (min-width: 768px) {
  .results-itemTxt {
    font-size: 16px;
    margin-top: 12px;
  }
}

/* price
-------------------------------------------------------------------------*/
.price {
  margin: 40px 16px;
}

@media screen and (min-width: 768px) {
  .price {
    margin: 120px auto;
    max-width: 960px;
    width: 100%;
  }
}

.price .util-ttl {
  text-align: center;
}

.price-table {
  border: 1px solid #707070;
  font-size: 18px;
  margin-top: 50px;
  width: 100%;
  border-collapse: collapse;
}

@media screen and (min-width: 768px) {
  .price-table {
    font-size: 20px;
    margin-top: 60px;
  }
}

.price-table th, .price-table td {
  font-family: "Montserrat", sans-serif;
  padding: 18px 20px;
}

@media screen and (min-width: 768px) {
  .price-table th, .price-table td {
    font-size: 24px;
    font-weight: 600;
    padding: 14px 20px;
  }
}

.price-table th {
  background: #3E3E3E;
  color: #fff;
  width: 27.3%;
}

.price-table td {
  background: #fff;
}

.price-table tr:not(:first-child) th {
  border-top: solid 1px #ddd;
}

.price-table tr:not(:first-child) td {
  border-top: solid 1px #707070;
}

.price-txt {
  font-size: 12px;
  margin-top: 10px;
}

@media screen and (min-width: 768px) {
  .price-txt {
    margin-top: 12px;
  }
}

/* bg-wrapper
-------------------------------------------------------------------------*/
.bg-wrapper {
  position: relative;
}

.bg-wrapper:before {
  content: '';
  display: block;
  position: absolute;
  background: #3E3E3E;
  width: 100%;
  top: 60px;
  left: 0;
  bottom: 0;
}

@media screen and (min-width: 768px) {
  .bg-wrapper:before {
    top: 145px;
    bottom: 138px;
    width: 76.5625%;
  }
}

/* comments
-------------------------------------------------------------------------*/
.comments {
  margin-top: 120px;
  position: relative;
  z-index: 1;
}

@media screen and (max-width: 767px) {
  .comments {
    margin: 54px 16px 0;
  }
}

.comments-inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  max-width: 1200px;
  margin: 0 auto;
  position: relative;
  z-index: 10;
}

.comments-box {
  background: #fff;
  -webkit-box-shadow: 0 0 10px rgba(0, 0, 0, 0.16);
          box-shadow: 0 0 10px rgba(0, 0, 0, 0.16);
}

@media screen and (min-width: 768px) {
  .comments-box {
    -webkit-box-flex: 0;
        -ms-flex: 0 1 667px;
            flex: 0 1 667px;
    padding: 120px 60px;
  }
}

@media screen and (max-width: 767px) {
  .comments-box {
    padding: 40px 20px 38px;
  }
}

.comments-list {
  line-height: 1.5;
  margin-top: 40px;
}

@media screen and (min-width: 768px) {
  .comments-list {
    margin-top: 60px;
  }
}

@media screen and (max-width: 767px) {
  .comments-list {
    margin-top: 40px;
  }
}

.comments-item {
  font-size: 14px;
  line-height: 1.5;
  text-align: justify;
  text-justify: inter-ideograph;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

@media screen and (min-width: 768px) {
  .comments-item {
    font-size: 16px;
  }
}

.comments-item:before {
  content: '';
  -webkit-box-flex: 0;
      -ms-flex: 0 0 60px;
          flex: 0 0 60px;
  height: 60px;
  margin-right: 24px;
  display: table;
}

@media screen and (min-width: 768px) {
  .comments-item:before {
    width: 100px;
    height: 100px;
    margin-right: 33px;
  }
}

.comments-item:nth-child(1)::before {
  background: url(../images/comments1.png);
  background-position: center;
  background-size: contain;
}

.comments-item:nth-child(2)::before {
  background: url(../images/comments2.png);
  background-position: center;
  background-size: contain;
}

.comments-item + .comments-item {
  margin-top: 40px;
}

@media screen and (min-width: 768px) {
  .comments-item + .comments-item {
    margin-top: 60px;
  }
}

.comments-fig {
  margin-top: 80px;
}

@media screen and (max-width: 767px) {
  .comments-fig {
    display: none;
  }
}

/* faq
-------------------------------------------------------------------------*/
.faq {
  position: relative;
  z-index: 1;
  background: url(../images/qa-bg.png) top center/cover;
  margin-top: 60px;
  padding: 40px 16px 60px;
}

@media screen and (min-width: 768px) {
  .faq {
    margin-top: 120px;
    padding: 60px 0 60px;
  }
}

.faq .util-ttl {
  text-align: center;
}

.faq-inner {
  max-width: 1200px;
  margin-top: 40px;
}

@media screen and (min-width: 768px) {
  .faq-inner {
    margin: 60px auto;
  }
}

@media screen and (min-width: 768px) {
  .faq-list {
    margin-left: auto;
    width: 612px;
  }
}

.faq-item {
  background: #FFF;
  border-radius: 4px;
  padding: 0 16px;
}

.faq-item + .faq-item {
  margin-top: 24px;
}

@media screen and (min-width: 768px) {
  .faq-item + .faq-item {
    margin-top: 32px;
  }
}

.faq-itemQuestion {
  padding: 16px 0 16px;
  line-height: 1.5;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

@media screen and (min-width: 768px) {
  .faq-itemQuestion {
    padding: 20px 0 20px;
  }
}

.faq-itemQuestion::before {
  content: 'Q';
  display: block;
  width: 24px;
  height: 24px;
  background: #3B69FF;
  color: #fff;
  font-family: "Montserrat", sans-serif;
  border-radius: 50%;
  text-align: center;
  line-height: 24px;
  font-weight: 600;
}

.faq-itemQuestion_txt {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 100%;
          flex: 0 1 100%;
  line-height: 1.5;
  letter-spacing: 0.4px;
  margin-left: 16px;
  position: relative;
}

.faq-itemQuestion_txt::before {
  position: absolute;
  display: block;
  content: '';
  height: 3px;
  width: 17px;
  right: 0;
  background: #4973FF;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  -webkit-transition: -webkit-transform .3s;
  transition: -webkit-transform .3s;
  transition: transform .3s;
  transition: transform .3s, -webkit-transform .3s;
}

.faq-itemQuestion_txt::after {
  position: absolute;
  display: block;
  content: '';
  height: 3px;
  width: 17px;
  right: 0;
  background: #4973FF;
  top: 50%;
  -webkit-transform: translateY(-50%) rotate(90deg);
          transform: translateY(-50%) rotate(90deg);
  -webkit-transition: -webkit-transform .3s;
  transition: -webkit-transform .3s;
  transition: transform .3s;
  transition: transform .3s, -webkit-transform .3s;
}

.faq-item.add-active .faq-itemQuestion_txt:after {
  -webkit-transform: translateY(-50%) rotate(0);
          transform: translateY(-50%) rotate(0);
}

.faq-itemAnswer {
  display: none;
  padding-bottom: 16px;
}

.faq-itemAnswer_txt {
  background: #3B69FF33;
  border-radius: 4px;
  line-height: 1.5;
  padding: 12px 16px 12px 12px;
}

@media screen and (min-width: 768px) {
  .faq-itemAnswer_txt {
    padding: 16px;
  }
}

/* access
-------------------------------------------------------------------------*/
.access {
  position: relative;
  z-index: 1;
}

@media screen and (min-width: 768px) {
  .access {
    max-width: 1200px;
    margin: 120px auto;
    padding: 0 0 0 60px;
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 412px 1fr;
    grid-template-columns: 412px 1fr;
    -ms-grid-rows: auto 1fr;
    grid-template-rows: auto 1fr;
  }
}

@media screen and (max-width: 767px) {
  .access {
    padding: 40px 16px 60px;
  }
}

.access .util-ttl {
  color: #fff;
}

.access .util-link {
  color: #fff;
}

.access .util-link:hover {
  background: #fff;
  color: #3E3E3E;
}

.access-address {
  font-size: 14px;
  margin-top: 40px;
  color: #fff;
  line-height: 1.4;
}

@media screen and (min-width: 768px) {
  .access-address {
    font-size: 16px;
    margin-top: 60px;
    line-height: 1.5;
  }
}

.access-linkbox {
  max-width: 339px;
  height: 54px;
  margin-top: 24px;
}

@media screen and (min-width: 768px) {
  .access-linkbox {
    max-width: 314px;
    height: 64px;
    margin-top: 32px;
  }
}

@media screen and (min-width: 768px) {
  .access-map {
    -webkit-box-shadow: 0 0 10px rgba(62, 62, 62, 0.2);
            box-shadow: 0 0 10px rgba(62, 62, 62, 0.2);
    -webkit-box-flex: 0;
        -ms-flex: 0 1 726px;
            flex: 0 1 726px;
    height: 520px;
    grid-area: 1 / 2 / 3 / 3;
    -ms-grid-row: 1;
    -ms-grid-row-span: 2;
    -ms-grid-column: 2;
    -ms-grid-column-span: 1;
  }
}

@media screen and (max-width: 767px) {
  .access-map {
    height: 240px;
    margin-top: 22px;
  }
}

iframe {
  width: 100%;
  height: 100%;
}

/* contact
-------------------------------------------------------------------------*/
.contact {
  background: url(../images/contact-bg.png) center/cover;
  padding: 40px 16px;
}

@media screen and (min-width: 768px) {
  .contact {
    margin: 120px 0 auto;
    padding: 60px 160px;
  }
}

.contact .util-ttl {
  color: #fff;
  text-align: center;
}

.contact input[type="checkbox"] {
  display: none;
}

.contact-inner {
  background: #fff;
  border-radius: 12px;
  max-width: 960px;
  margin: 0 auto;
  overflow: hidden;
  width: 100%;
}

.contact-header {
  background: #000;
  padding: 40px 16px;
  position: relative;
  -webkit-box-shadow: 0 0 4px #3e3e3e;
          box-shadow: 0 0 4px #3e3e3e;
}

@media screen and (min-width: 768px) {
  .contact-header {
    padding: 60px 0;
  }
}

.contact-header:before {
  background: url(../images/contact1.png) center center/cover no-repeat;
  display: block;
  content: '';
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  position: absolute;
  opacity: .5;
}

.contact-headerInner {
  position: relative;
}

.contact-headerTxt {
  color: #fff;
  font-size: 14px;
  margin-top: 12px;
}

@media screen and (min-width: 768px) {
  .contact-headerTxt {
    font-size: 16px;
    margin-top: 16px;
    text-align: center;
  }
}

@media screen and (max-width: 767px) {
  .contact-headerTxt {
    line-height: 1.42857;
  }
}

.contact-content {
  padding: 40px 12px;
}

@media screen and (min-width: 768px) {
  .contact-content {
    padding: 60px 120px 60px;
  }
}

.contact-list {
  font-size: 16px;
}

.contact-item + .contact-item {
  margin-top: 32px;
}

@media screen and (min-width: 768px) {
  .contact-item:not(.mod-message) {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
}

.contact-item input[type="text"], .contact-item input[type="email"] {
  border: none;
  border-bottom: solid 1px #3E3E3E;
  border-radius: 0;
  font-size: 16px;
  font-weight: 400;
  padding: 2px 12px 2px;
  color: #3e3e3e;
  font-family: inherit;
  position: relative;
  width: 100%;
}

@media screen and (max-width: 767px) {
  .contact-item input[type="text"], .contact-item input[type="email"] {
    font-size: 14px;
    padding: 0 1px;
  }
}

.contact-item input[type="text"]:hover, .contact-item input[type="text"]:focus {
  border-color: #4973FF;
  outline: none;
}

.contact-item input[type="text"]:hover + .contact-focusLine, .contact-item input[type="text"]:focus + .contact-focusLine {
  opacity: 1;
}

.contact-item input[type="email"]:hover, .contact-item input[type="email"]:focus {
  border-color: #4973FF;
  outline: none;
}

.contact-item input[type="email"]:hover + .contact-focusLine, .contact-item input[type="email"]:focus + .contact-focusLine {
  opacity: 1;
}

.contact-item input[type="radio"] {
  display: none;
}

.contact-item select {
  border: none;
  border-radius: 0;
  border: 1px solid #3E3E3E;
  color: #3e3e3e;
  font-size: 16px;
  font-weight: 500;
  height: 40px;
  line-height: 40px;
  padding: 0 34px 0 8px;
  outline: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}

@media screen and (min-width: 768px) {
  .contact-item select {
    width: 180px;
  }
  .contact-item select:hover {
    -webkit-box-shadow: 0 0 4px #4973ff;
    box-shadow: 0 0 4px #4973ff;
  }
}

@media screen and (max-width: 767px) {
  .contact-item select {
    font-size: 14px;
    line-height: 38px;
    height: 38px;
    width: 100%;
  }
}

.contact-item textarea {
  border: 1px solid #707070;
  border-radius: 0;
  height: 160px;
  margin-top: 16px;
  padding: 8px;
  width: 100%;
  font-size: 16px;
}

@media screen and (min-width: 768px) {
  .contact-item textarea {
    font-size: 16px;
    height: 200px;
    margin-top: 8px;
  }
  .contact-item textarea:hover {
    border-color: #4973ff;
    -webkit-box-shadow: 0 0 4px #4973ff;
            box-shadow: 0 0 4px #4973ff;
  }
}

.contact-item textarea:focus {
  border-color: #4973ff;
  -webkit-box-shadow: 0 0 4px #4973ff;
          box-shadow: 0 0 4px #4973ff;
}

.contact-inputBox {
  position: relative;
}

@media screen and (min-width: 768px) {
  .contact-inputBox {
    -webkit-box-flex: 0;
        -ms-flex: 0 1 100%;
            flex: 0 1 100%;
  }
}

@media screen and (max-width: 767px) {
  .contact-inputBox {
    margin-top: 6px;
  }
  .contact-inputBox.contact-item--radio {
    margin-top: 16px;
  }
}

.contact-selectBox {
  position: relative;
}

.contact-selectBox:after {
  position: absolute;
  display: block;
  content: '';
  border-bottom: solid 2px #3E3E3E;
  border-right: solid 2px #3E3E3E;
  height: 8px;
  width: 8px;
  top: 14px;
  right: 16px;
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
}

@media screen and (max-width: 767px) {
  .contact-selectBox {
    margin-top: 12px;
  }
}

.contact-focusLine {
  position: absolute;
  display: block;
  content: '';
  width: 100%;
  height: 1px;
  -webkit-box-shadow: 0 5px 4px rgba(73, 115, 255, 0.5);
          box-shadow: 0 5px 4px rgba(73, 115, 255, 0.5);
  opacity: 0;
  -webkit-transition: opacity .2s;
  transition: opacity .2s;
  bottom: 1px;
  left: 0;
}

.contact-itemTtl {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 186px;
          flex: 0 0 186px;
  font-weight: bold;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.contact-requireLabel {
  display: inline-block;
  margin-left: 12px;
  background: #FF4646;
  color: #fff;
  border-radius: 2px;
  font-size: 12px;
  width: 40px;
  line-height: 16px;
  text-align: center;
}

@media screen and (max-width: 767px) {
  .contact-requireLabel {
    margin-left: 20px;
  }
}

.contact-privacy {
  margin-top: 26px;
}

@media screen and (min-width: 768px) {
  .contact-privacy {
    margin-top: 32px;
  }
}

.contact-privacyLabel {
  cursor: pointer;
  display: block;
  font-size: 16px;
  padding-left: 38px;
  font-weight: 700;
  position: relative;
}

@media screen and (min-width: 768px) {
  .contact-privacyLabel {
    font-size: 18px;
    padding-left: 42px;
  }
}

.contact-privacyLabel:before {
  display: block;
  position: absolute;
  content: '';
  width: 18px;
  height: 18px;
  border: 1px solid #707070;
  background: #fff;
  left: 0;
  top: -2px;
}

@media screen and (min-width: 768px) {
  .contact-privacyLabel:before {
    height: 20px;
    width: 20px;
  }
}

@media screen and (min-width: 768px) {
  .contact-privacyLabel:hover::before {
    border-color: #4973FF;
    -webkit-box-shadow: 0 0 5px #4973FF33;
            box-shadow: 0 0 5px #4973FF33;
  }
  .contact-privacyLabel:active::before {
    background-color: rgba(73, 115, 255, 0.2);
    -webkit-box-shadow: none;
            box-shadow: none;
  }
}

.contact-privacyLabel:after {
  position: absolute;
  display: block;
  content: '';
  width: 12px;
  height: 6px;
  top: 3px;
  left: 5px;
  border-bottom: 2px solid #3B69FF;
  border-left: 2px solid #3B69FF;
  -webkit-transform: rotate(-45deg);
          transform: rotate(-45deg);
  opacity: 0;
  -webkit-transition: 0.2s;
  transition: 0.2s;
}

@media screen and (max-width: 767px) {
  .contact-privacyLabel:after {
    left: 4px;
  }
}

input[type="checkbox"]:checked + .contact-privacyLabel:after {
  opacity: 1;
}

.contact-radio {
  display: inline-block;
}

.contact-radio + .contact-radio {
  margin-left: 40px;
}

.contact-radioLabel {
  position: relative;
  padding-left: 22px;
}

.contact-radioLabel:before {
  background: #fff;
  position: absolute;
  content: '';
  display: block;
  width: 12px;
  height: 12px;
  border: 1px solid #707070;
  border-radius: 50%;
  left: 0;
  top: 2px;
}

@media screen and (min-width: 768px) {
  .contact-radioLabel:hover::before {
    border-color: #3B69FF;
    -webkit-box-shadow: 0 0 6px #4973FF33;
            box-shadow: 0 0 6px #4973FF33;
  }
  .contact-radioLabel:active::before {
    background-color: rgba(73, 115, 255, 0.2);
    -webkit-box-shadow: none;
            box-shadow: none;
  }
}

.contact-radioLabel:after {
  position: absolute;
  display: block;
  content: '';
  width: 6px;
  height: 6px;
  background: #3B69FF;
  border-radius: 50%;
  top: 6px;
  left: 4px;
  opacity: 0;
}

input[type="radio"]:checked + .contact-radioLabel:after {
  opacity: 1;
}

.contact-button {
  margin-top: 38px;
  width: 165px;
  background-color: #b2b2b2;
}

@media screen and (min-width: 768px) {
  .contact-button {
    width: 173px;
    margin-top: 42px;
  }
}

.contact-button:disabled {
  background-color: #b2b2b2;
}

.contact-button.-active {
  background: #f18900;
}

.contact-message {
  text-align: center;
  margin-top: 60px;
  display: none;
}

.contact-message.-error {
  color: #f00;
}

.contact-success {
  color: #f18900;
}

.contact-error {
  line-height: 1.5;
}
/*# sourceMappingURL=lppage2.css.map */