//マップ型変数breakpointsを定義
$breakpoints: (
//キー  値
 'sp-down': 'screen and (max-width: 767px)', //767px以下（スマホ）用の表示
 'sp-up': 'screen and (min-width: 768px)' //768px以上（タブレット・PC）用の表示
) !default;

//メディアクエリ用のmixinを定義。デフォ値はmd
@mixin mq($breakpoint: md) {
//map-get(マップ型変数, キー)で値を取得
  @media #{map-get($breakpoints, $breakpoint)} {
    //この中をカスタムできる
    @content;
  }
}
/*======================================================================
# colors
=======================================================================*/
$color-background: #f3f3f3;
$color-text: #3e3e3e;
$color-main: #ffaa3b;
$color-active: #f18900;
$color-disable: #b2b2b2;
/*======================================================================
# fonts
=======================================================================*/
$font-family-english: "Montserrat", sans-serif;
$font-family-default: "游ゴシック", YuGothic, "ヒラギノ角ゴ ProN W3", "Hiragino Kaku Gothic ProN", "メイリオ", Meiryo, "Droid Sans", sans-serif;
/*======================================================================
# common 全体共通するスタイル
=======================================================================*/
@include mq('sp-down'){
  .is-pc{
    display: none;
  }
}

@include mq('sp-up'){
  .is-sp{
    display: none;
  }
}
body{
  background: $color-background;
  color: $color-text;
  font-family: $font-family-default;
  line-height: 1.5;
}
// 外枠に対して100%で画像を広げたいので
img{
  width: 100%;
}
.util-ttl{
  font-family: $font-family-english;
  font-size: 30px;
  font-weight: 600;
  @include mq('sp-up') {
		font-size: 36px;
	}
}
.util-link{
  border: 1px solid #fff;
  color: #3E3E3E;
  display: block;
  font-family: $font-family-english;
  font-size: 20px;
  font-weight: 600;
  letter-spacing: 4px;
  padding: 16px 0;
  text-align: center;
  
  @include mq('sp-up') {
	
    &:hover {
      background: #3e3e3e;
      color: #fff;
    }
	}
}
/* header
-------------------------------------------------------------------------*/ 
.header{
  background: rgba(255, 255, 255, 0.1);
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 100;
  // 固定されたヘッダーの色を少し変える
  .add-scrolled & {
    background: rgba(255, 255, 255, 0.6);
  }

  @include mq('sp-up'){
    height: 80px;
  }
  @include mq('sp-down'){
    background: rgba(255, 255, 255, 0.6);
    height: 68px;
  }
}
.header-ttl{
  @include mq('sp-up'){
    display: none;
  } 
  @include mq('sp-down'){
    font-size: 23px;
    font-weight: 700;
    margin: 20px 0 0 16px;
    font-family: $font-family-english;
  }
  .add-active & {
		@include mq('sp-down') {
			opacity: 0;
		}
	}
}
.header-nav{
  align-items: center;
  display: flex;
  justify-content: center;
  @include mq('sp-up'){
    // メニューをヘッダー幅全体で使うため
    height: 100%;
  } 
  @include mq('sp-down'){
    position: fixed;
    background: #fff;
    text-align: center;
    width: 300px;
    z-index: 10;
    top: 0;
    bottom: 0;
    right: -300px;
    transition: right 0.3s linear;
    @include mq('sp-down') {
      .add-active & {
        right: 0;
      }
    }
  } 
}
/* ハンバーガーメニュー
-------------------------------------------------------------------------*/
.header-burger{
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  background-color: transparent;
  @include mq('sp-down'){
    display: block;
    height: 26px;
    width: 26px;
    position: absolute;
    top: 20px;
    left: -40px;
  }

}
.header-burgerInline{
  @include mq('sp-down'){
    position: absolute;
    display: block;
    content: "";
    width: 26px;
    height: 4px;
    z-index: 20;
    background-color: #3e3e3e;

    &:nth-child(1) {
      top: 2px;
    }
  
    &:nth-child(2) {
      top: 10px;
    }
  
    &:nth-child(3) {
      top: 18px;
    }
  }

  @include mq('sp-down') {
		.add-active & {
      background-color: #3e3e3e;

			&:nth-child(1) {
				top: 10px;
        transform: rotate(-45deg);
        left: 300px;
			}

			&:nth-child(2) {
				left: 100%;
				opacity: 0;
			}

			&:nth-child(3) {
				top: 10px;
        transform: rotate(45deg);
        left: 300px;
			}
		}
	}
}
/* ハンバーガーメニューを押したときのアニメーション
-------------------------------------------------------------------------*/
.header-overlay {
  background: rgba(0, 0, 0, 0.7);
  bottom: 0;
  opacity: 0;
  position: fixed;
  top: 0;
  transition: .3s;
  visibility: hidden;
	width: 100%;

	.add-active & {
		opacity: 1;
		visibility: visible;
	}
}
.header-navList{
  @include mq('sp-up'){
    // PC版では横並び
    display: flex;
  } 
  @include mq('sp-down'){
    padding: 16px;
  }
}
.header-navItem{
  + .header-navItem{

    @include mq('sp-up'){
      margin-left: 40px;
    }
    @include mq('sp-down') {
			margin-top: 32px;
		}
  }
}
.header-navLink{
  color: #3E3E3E;
  font-weight: 500;
  font-family: $font-family-english;
  font-size: 16px;
  letter-spacing: -0.4px;
  position: relative;

  @include mq('sp-up'){
    padding: 8px 0;

    &::after{
      background: #3e3e3e;
      bottom: 0;
      content: '';
      height: 1px;
      width: 100%;
      left: 0;
      position: absolute;
      transform: scale(0);
      // 少し遅れて表示されるようにする
      transition: transform .2s;
    }

    &:hover::after{
      // ホバーした時に出てくるようにする
      transform: scale(1);
      
    }
  } 
  @include mq('sp-down') {
		font-size: 18px;
	}
}
/* footer
-------------------------------------------------------------------------*/ 
.footer{
  background: #3E3E3E;
  padding: 50px 0 56px;

	@include mq('sp-down') {
		padding: 52px 16px 56px;
    text-align: center;
	}
}
.footer-inner{
	@include mq('sp-up') {
    display: flex;
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 120px;

  }
}
.footer-topLink{
  display: block;
  border: 1px solid #3e3e3e;
  background: rgba(255, 255, 255, 0.8);
  width: 50px;
  height: 50px;
  position: fixed;
  bottom: 16px;
  right: 16px;
  z-index: 100;
  // スクロールされるまでは消えている状態
  opacity: 0;
  visibility: hidden;
  transition: .5s;
  @include mq('sp-up') {
		bottom: 40px;
		right: 40px;
  }
  &::after{
    display: block;
    content: '';
    position: absolute;
    width: 15px;
    height: 15px;
    border-right: 3px solid #3e3e3e;
    border-top: 3px solid #3e3e3e;
    transform: rotate(-45deg);
    left: 15px;
    top: 20px;
  }
  .add-scrolled & {
		opacity: 1;
		visibility: visible;
	}
}
.footer-snsList{
  display: flex;
  @include mq('sp-down'){
    justify-content: center;
  }

}
.footer-snsLink{
  color: #fff;
  font-size: 36px;
  opacity: 0.6;
  transition: opacity 0.2s;

  @include mq('sp-up') {
    &:hover{
      opacity: 1;
    }
  }
}
.footer-snsItem{
  + .footer-snsItem{
    @include mq('sp-up') {
      margin-left: 30px;
    }
  }
  @include mq('sp-down') {
		margin-right: 48px;

		&:last-child {
			margin-right: 0;
		}
	}
}
.footer-navList{
  margin-top: 26px;

  @include mq('sp-down'){
    display: block;
    margin: 40px 0;
  }
}
.footer-navItem{
  @include mq('sp-down') {
		margin-bottom: 12px;

		&:last-child {
			margin-bottom: 0;
		}
	}
  + .footer-navItem{
    margin-top: 18px;

  }
}
.footer-navLink{
  color: #fff;
  display: inline-block;
  font-size: 14px;
  letter-spacing: 0.4px;

  @include mq('sp-up') {
    font-size: 16px;
    position: relative;
  }
  @include mq('sp-down') {
		line-height: 1.8;
	}

  &::after{
    @include mq('sp-up') {
      background: #fff;
      bottom: -5px;
      content: '';
      height: 1px;
      width: 100%;
      left: 0;
      position: absolute;
      transform: scale(0);
      // 少し遅れて表示されるようにする
      transition: transform .2s;
    } 
  }
  &:hover::after{
    // ホバーした時に出てくるようにする
    transform: scale(1); 
  }
}
.footer-company{
  @include mq('sp-up') {
		margin-left: auto;
		padding-top: 6px;
	}

}
.footer-companyName{
  color: #fff;
  font-size: 32px;
  font-weight: bold;
  font-family: $font-family-english;
  line-height: 1.4;
  
  @include mq('sp-up') {
		font-size: 40px;
	}
}
.footer-copylight{
  color: #fff;
  display: block;
  font-size: 12px;
  font-family: $font-family-english;
  line-height: (15 / 12);
  letter-spacing: 0.3px;
  opacity: 0.6;
  margin-top: 8px;

  @include mq('sp-up') {
		text-align: right;
	}
}
/* hero
-------------------------------------------------------------------------*/ 
.hero{
  height: 648px;
  background: url(../images/mv.png);
  background-size: cover;
  background-position: 20%;
  @include mq('sp-up'){
    background: url(../images/mv.png)center center/cover;
  }
  @include mq('sp-down'){
    height: 668px;
  }
  
}

.hero-inner{

  @include mq('sp-up') {
    max-width: 1280px;
    padding: 228px 20px 0 0;
  }
  @include mq('sp-down'){
    width: 100%;
    padding: 220px 16px 0;
  }
}
.hero-content{
  @include mq('sp-up') {
    max-width: 600px;
    // 右に文章を持ってくる
    margin-left: auto;
	}
}
.hero-ttl{
  font-size: 24px;
  font-weight: bold;
  line-height: (40 / 24);
  @include mq('sp-up') {
    font-size: 32px;
    line-height: (48 / 32);
	}
}
.hero-txt{
  font-size: 18px;
  font-weight: bold;
  letter-spacing: 0.45px;
  margin-top: 33px;
  @include mq('sp-down'){
    font-size: 14px;
    line-height: (20/14);
    margin-top: 20px;
  }
}
.hero-link,
.contact-button{
  display: block;
  background-color: $color-main;
  box-shadow: 0 3px 5px rgba(62, 62, 62, 0.2);
  border-radius: 10px;
  color: #fff;
  font-size: 18px;
  font-weight: bold;
  letter-spacing: 0.45px;
  height: 50px;
  line-height: 50px;
  width: 280px;
  text-align: center;
  margin-top: 40px;
  @include mq('sp-up') {
    &:not(.-submit){
      &:hover{
        background: $color-active;
      }
    }
  }
  @include mq('sp-down'){
    margin: 30px auto 0;
    width: 222px;
    font-size: 16px;
  }
}
/* news
-------------------------------------------------------------------------*/ 
.news{
  .util-ttl{
    text-align: center;
  }
  @include mq('sp-up') {
    margin: 120px auto;
    max-width: 1200px;
    width: 100%;

    .util-link{
      width: 236px;

      &:hover{
        background: #3e3e3e;
        color: #fff;

      }
    }
  }
  .util-linkBox{
    margin: 38px 0;

    @include mq('sp-down'){
      margin: 38px 16px 0;
    }
  }
  .util-link{
    margin: 0 auto;
    padding: 16px 0;
    border: 1px solid #707070;

    @include mq('sp-down'){
      padding: 13px 0;

    }
  }
  @include mq('sp-down'){
    margin: -40px 16px 0;
    position: relative;
    z-index: 10;
  }
}
.news-inner{
  background: #fff;
  box-shadow: 0 5px 12px rgba(62, 62, 62, 0.2);
  
  @include mq('sp-up'){
    padding: 56px 48px 40px; 
  }
  @include mq('sp-down'){
    padding: 36px 0 38px;
  }
}

.news-list{
  border-top: 2px solid #CECDCD;
  margin-top: 55px;
  @include mq('sp-down'){
    margin-top: 36px;
  }
}
.news-item{
  border-bottom: 2px solid #CECDCD;
  font-size: 18px;
}
.news-itemLink{
  color: #3E3E3E;
  display: flex;
  letter-spacing: 0.45px;
  align-items: center;
  position: relative;
  transition: background-color .2s;

  @include mq('sp-up') {
    padding: 38px 110px 38px 12px;

    &:hover{
      background-color: rgba(73, 115, 255, 0.1);
    }
    
  }
  @include mq('sp-down'){
    padding: 12px 34px 12px 16px;
  }

  &::after{
    display: block;
    content: '';
    width: 15px;
    height: 15px;
    top: 50%;
    right: 18px;
    position: absolute;
    border-right: solid 3px #3E3E3E;
    border-top: solid 3px #3E3E3E;
    transform: rotate(45deg) translateY(-50%);
  }
  @media screen and (max-width: 959px) {
    flex-wrap: wrap;
  }
}
.news-itemDate{
  font-family: $font-family-english;
  white-space: nowrap;
  font-weight: 400;

  @include mq('sp-down'){
    font-size: 14px;
  }
}
.news-itemCategory{
  border: 2px solid #3B69FF;
  border-radius: 30px;
  font-size: 12px;
  letter-spacing: 0.35px;
  line-height: 1.8;
  margin-left: 38px;

  @include mq('sp-up') {
		font-size: 14px;
    padding: 0 30px;
    // テキストを横に広げる
		white-space: nowrap;
  }
  @include mq('sp-down'){
    padding: 0 14px;
  }
  @media screen and (max-width: 959px) {
    margin-left: 20px;
  }
}
.news-itemTxt{
  line-height: 1.6;
  margin-left: 40px;
  letter-spacing: 0.45px;
  @include mq('sp-down'){
    font-size: 14px;
    line-height: (20/14);
    flex: 0 0 100%;
    margin: 8px auto;
  }
}
/* service
-------------------------------------------------------------------------*/ 
.service{
  background: linear-gradient(to bottom, #3E3E3E 0, #3E3E3E 400px,transparent 400px,transparent 100%);
  margin-top: 60px;
  padding-top: 38px;

  .util-ttl{
    color: #FFF;
    text-align: center;
  }
  @include mq('sp-up') {
		margin-top: 120px;
		padding-top: 58px;
	}
}
.service-inner{
  max-width: 960px;
  margin: 60px auto;

  @include mq('sp-down'){
    margin: 38px 16px 0;
  }
}
.service-list{
  background: #fff;
  box-shadow: 0 5px 12px rgba(62, 62, 62, 0.2);

  @include mq('sp-up'){
    display: flex;
  }
  @include mq('sp-down'){
    padding: 40px 0 34px;
  }
}

.service-item{
  padding: 0 16px;
  
  + .service-item{
    @include mq('sp-down'){
      margin-top: 40px;
    }
  }

  @include mq('sp-up'){
    flex: 0 1 33.3333%;
    padding: 60px 45px;
  }
  dt{
    font-size: 20px;
    font-weight: 600;
    font-family: $font-family-english;
    letter-spacing: 4px;
    line-height: 1.4;
    text-align: center;
    padding-top: 72px;
    // 画像がリピートして入ってしまっているので
    background-repeat: no-repeat;
    // 位置調整
    background-position: center top 12px;  

    @include mq('sp-down'){
      background-size: 52px;

    }
  }
  &:nth-child(1) dt {
    background-image: url(../images/service1.svg) ;
  }
  &:nth-child(2) dt {
    background-image: url(../images/service2.svg) ;

    @include mq('sp-down'){
      padding-top: 66px;
    }
  }
  &:nth-child(3) dt {
    background-image: url(../images/service3.svg) ;
    @include mq('sp-down') {
			padding-top: 66px;
		}
  }

  dd{
    font-size: 14px;
    line-height: 1.6;
    margin-top: 18px;
    @include mq('sp-down'){
      margin-top: 12px;
    }
  }
}
/* results
-------------------------------------------------------------------------*/
.results{
  
  background: #3E3E3E;
  margin: 60px 0 0 0;
  padding: 40px 0 40px 16px;

  @include mq('sp-up'){
    margin: 120px 0 0 auto;
    padding: 60px 0 60px 60px;
  }
  @include mq('sp-down'){
    padding-top: 36px;
    margin-top: 60px;
  }

  .util-ttl{
    color: #fff;
    @include mq('sp-down') {
			text-align: center;

		}
  }
  .util-linkBox{
    
    @include mq('sp-up'){
      margin: 40px 0 0 0;
    }
    @include mq('sp-down'){
      margin: 30px 16px 0 0;
    }
  }
  .util-link{
    color: #fff;
    @include mq('sp-up'){
      max-width: 289px;

    }

  }
}

.results-container{

  margin-top: 40px;

  @include mq('sp-up'){
    margin-top: 60px;
  }

}
.results-pagination{
  margin-top: 30px;
  // divクラスが重なってしまったので分けるため
  position: static !important;

  @include mq('sp-up'){
    margin: 44px 0 0 0;
    text-align: left !important;
  }

  .swiper-pagination-bullet{
    background: #fff;
    width: 12px;
    height: 12px;
    position: relative;
    + .swiper-pagination-bullet{
      margin-left: 20px;
    }
  }
  .swiper-pagination-bullet-active::after{
    content: '';
    position: absolute;
    width: 20px;
    height: 20px;
    border: 1px solid #fff;
    border-radius: 50%;
    // 円を囲うような位置に調整
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);

  }
}
// .results-item{
//   @include mq('sp-down'){
//     width: 274px !important;
//   }
// }
.results-itemLink{
  display: block;
  color: #3E3E3E;
  background: #fff;

  @include mq('sp-up'){
    transition: opacity .2s;
    &:hover{
      opacity: 0.7;
    }

  }


}
.results-itemLinkInner{
  padding: 12px 12px 8px;

  @include mq('sp-up'){
    padding: 16px 16px 20px;
  }
}
.results-ittemFlg{
  img{
    width: 100%;
  }
}
.results-itemTtl{
  font-size: 14px;
  font-weight: bold;

  @include mq('sp-up'){
    font-size: 20px;
  }
}
.results-itemTxt{
  font-size: 12px;
  margin-top: 8px;
  line-height: 1.5;

  @include mq('sp-up'){
    font-size: 16px;
    margin-top: 12px;
  }
}
/* price
-------------------------------------------------------------------------*/
.price{
  margin: 40px 16px;

  @include mq('sp-up'){
    margin: 120px auto;
    max-width: 960px;
    width: 100%;
  }
  .util-ttl{
    text-align: center;
  }
}
.price-table{
  border: 1px solid #707070;
  font-size: 18px;
  margin-top: 50px;
  // 幅いっぱいに広げる
  width: 100%;
  // 隣接するボーダーラインを重ね合わせて表示
  border-collapse: collapse;

  @include mq('sp-up'){
    font-size: 20px;
    margin-top: 60px;
  }

  th,td{
    font-family: $font-family-english;
    padding: 18px 20px;
    
    @include mq('sp-up'){
      font-size: 24px;
      font-weight: 600;
      padding: 14px 20px;
    }
  }
  th{
    background: #3E3E3E;
    color: #fff;
    width: 27.3%;
  }
  td{
    background: #fff;

  }
  // 最初の要素以外を指定するやり方
  tr:not(:first-child) {
		th {
			border-top: solid 1px #ddd;
		}

		td {
			border-top: solid 1px #707070;
		}
	}
}
.price-txt{
  font-size: 12px;
  margin-top: 10px;

  @include mq('sp-up'){
    margin-top: 12px;
  }
}
/* bg-wrapper
-------------------------------------------------------------------------*/

.bg-wrapper{
  position: relative;

  &:before{
    content: '';
    display: block;
    position: absolute;
    background: #3E3E3E;
    width: 100%;
    // 高さを調整
    top: 60px;
    left: 0;
    bottom: 0;

    @include mq('sp-up'){
      top: 145px;
      bottom: 138px;
      width: 980/1280 * 100%;
    }
  }
}
/* comments
-------------------------------------------------------------------------*/
.comments{
  margin-top: 120px;
  // bg-wrapperより上に
  position: relative;
  z-index: 1;
  @include mq('sp-down'){
    margin: 54px 16px 0;
  }

}
.comments-inner{
  display: flex;
  max-width: 1200px;
  margin: 0 auto;
  position: relative;
  z-index: 10;
}
.comments-box{
  background: #fff;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.16);

  @include mq('sp-up'){
    flex: 0 1 667px;
    padding: 120px 60px;
  }
  @include mq('sp-down'){
    padding: 40px 20px 38px;
  }
}
.comments-list{
  line-height: 1.5;
  margin-top: 40px;
  
  @include mq('sp-up'){
    margin-top: 60px;
  }
  @include mq('sp-down'){
    margin-top: 40px;
  }
}

.comments-item{
  font-size: 14px;
  line-height: 1.5;
  text-align: justify;
  text-justify: inter-ideograph;
  display: flex;

  @include mq('sp-up'){
    font-size: 16px;
  }

  &:before{
    content: '';
    flex: 0 0 60px;
    height: 60px;
    margin-right: 24px;
    display: table;

    @include mq('sp-up'){
      width: 100px;
      height: 100px;
      margin-right: 33px;
    }
  }
  &:nth-child(1)::before{
    background: url(../images/comments1.png);
    background-position: center;
    background-size: contain;
  }
  &:nth-child(2)::before{
    background: url(../images/comments2.png);
    background-position: center;
    background-size: contain;
  }
  + .comments-item{
    margin-top: 40px;

    @include mq('sp-up'){
      margin-top: 60px;
    }

  }
}
.comments-fig{
  margin-top: 80px;

  @include mq(('sp-down')){
    display: none;
  }
}
/* faq
-------------------------------------------------------------------------*/
.faq{
  // bg-wrapperより上に
  position: relative;
  z-index: 1;
  background: url(../images/qa-bg.png) top center/cover;
  margin-top: 60px;
  padding: 40px 16px 60px;
  @include mq('sp-up') {
    margin-top: 120px;
    padding: 60px 0 60px;
  }
  .util-ttl{
    text-align: center;
  }
}
.faq-inner{
  max-width: 1200px;
  margin-top: 40px;

  @include mq('sp-up'){
    margin: 60px auto;
  }
}
.faq-list{

  @include mq('sp-up'){
    margin-left: auto;
    width: 612px;
  }
}
.faq-item{
  background: #FFF;
  border-radius: 4px;
  padding: 0 16px;

  + .faq-item {
		margin-top: 24px;

		@include mq('sp-up') {
			margin-top: 32px;
    }
  }

}
.faq-itemQuestion{
  padding: 16px 0 16px;
  line-height: 1.5;
  display: flex;

  @include mq('sp-up'){
    padding: 20px 0 20px;
  }
  &::before{
    content: 'Q';
    display: block;
    width: 24px;
    height: 24px;
    background: #3B69FF;
    color: #fff;
    font-family: $font-family-english;
    border-radius: 50%;
    // 中央に持ってくる
    text-align: center;
    line-height: 24px;
    font-weight: 600;
  }
}
.faq-itemQuestion_txt{
  flex: 0 1 100%;
  line-height: 1.5;
  letter-spacing: 0.4px;
  margin-left: 16px;
  position: relative;

  &::before{
    position: absolute;
    display: block;
    content: '';
    height: 3px;
    width: 17px;
    right: 0;
    background: #4973FF;
    // 中央によせる
    top: 50%;
    transform: translateY(-50%);
    transition: transform .3s;
  }
  &::after{
    position: absolute;
    display: block;
    content: '';
    height: 3px;
    width: 17px;
    right: 0;
    background: #4973FF;
    // 中央によせる
    top: 50%;
    transform: translateY(-50%)rotate(90deg);
    transition: transform .3s;
  }

}
// afterの部分だけ90度回転するようにする
.faq-item.add-active .faq-itemQuestion_txt:after {
  transform: translateY(-50%) rotate(0);
}
.faq-itemAnswer{
  display: none;
  padding-bottom: 16px;
}
.faq-itemAnswer_txt{
  background: #3B69FF33;
  border-radius: 4px;
  line-height: 1.5;
  padding: 12px 16px 12px 12px;

  @include mq('sp-up'){
    padding: 16px;
  }
  
}
/* access
-------------------------------------------------------------------------*/
.access{
  position: relative;
  z-index: 1;
  
  @include mq('sp-up'){
    max-width: 1200px;
    margin: 120px auto;
    padding: 0 0 0 60px;
    display: grid;
    // 1列めは412px空ける２列めは1frで調整
    -ms-grid-columns: 412px 1fr;
    grid-template-columns: 412px 1fr;
    -ms-grid-rows: auto 1fr;
    grid-template-rows: auto 1fr;
  }
  @include mq('sp-down') {
		padding: 40px 16px 60px;
	}
  .util-ttl{

    color: #fff;

  }
  .util-link{
    color: #fff;

    &:hover{
      background: #fff;
      color: #3E3E3E;
    }
  }
}
.access-address{
  font-size: 14px;
  margin-top: 40px;
  color: #fff;
  line-height: 1.4;

  @include mq('sp-up'){
    font-size: 16px;
    margin-top: 60px;
    line-height: 1.5;
  }
}
.access-linkbox{
  max-width: 339px;
  height: 54px;
  margin-top: 24px;

  @include mq('sp-up'){
    max-width: 314px;
    height: 64px;
    margin-top: 32px;

  }

}
.access-map{

  @include mq('sp-up'){
    box-shadow: 0 0 10px rgba(62, 62, 62, 0.2);
    flex: 0 1 726px;
    height: 520px;
    // 1はgrid-row-start
    // 2はgrid-column-start
    // 3はgrid-row-endとgrid-column-endという形
    grid-area: 1 / 2 / 3 / 3;
    // row1行めのcolumn2行めの位置を指定
    -ms-grid-row: 1;
		-ms-grid-row-span: 2;
		-ms-grid-column: 2;
		-ms-grid-column-span: 1;
  }
  @include mq('sp-down') {
		height: 240px;
		margin-top: 22px;
	}

}
iframe{
  width: 100%;
  height: 100%;
}
/* contact
-------------------------------------------------------------------------*/
.contact{
  background: url(../images/contact-bg.png)center/cover;
  padding: 40px 16px;

  @include mq('sp-up'){
    margin: 120px 0 auto;
    padding: 60px 160px;
  }
  .util-ttl{
    color: #fff;
    text-align: center;
  }
  input{
    &[type="checkbox"] {
      display: none;
    }
    
  }
}
.contact-inner{
  background: #fff;
  border-radius: 12px;
  max-width: 960px;
  margin: 0 auto;
  overflow: hidden;
  width: 100%;
}
.contact-header{
  background: #000;
  padding: 40px 16px;
  position: relative;
  box-shadow: 0 0 4px #3e3e3e;

  @include mq('sp-up'){
    padding: 60px 0;
  }
  

  &:before{
    background: url(../images/contact1.png)center (center / cover) no-repeat;
    display: block;
    content: '';
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    position: absolute;
    // 半透明にして文字を浮かび上がらせる
    opacity: .5;
  }
}
.contact-headerInner{
  // 文字の部分を上に持ってくるため
  position: relative;

}
.contact-headerTxt{
  color: #fff;
  font-size: 14px;
  margin-top: 12px;

  @include mq('sp-up'){
    font-size: 16px;
    margin-top: 16px;
    text-align: center;
  }
  @include mq('sp-down'){
    line-height: (20 /14);
  }

}
.contact-content{
  padding: 40px 12px; 
  
  @include mq('sp-up'){
    padding: 60px 120px 60px;
    
  }



}
.contact-list{
  font-size: 16px;
}
.contact-item{
  + .contact-item{
    margin-top: 32px;
  }
  // notは〜以外
  &:not(.mod-message){
    @include mq('sp-up'){
      // mac以外で対応できるように
      display: -webkit-box;
      display: -ms-flexbox;
      // デフォルト設定
      display: flex;
    }
  }
  input{
    &[type="text"],
    &[type="email"]{
      border: none;
      border-bottom: solid 1px #3E3E3E;
      border-radius: 0;
      font-size: 16px;
      font-weight: 400;
      padding: 2px 12px 2px;
      color: $color-text;
      // 任意のフォントを使うため
      font-family: inherit;
      // 下線を幅いっぱいに広げる
      position: relative;
      width: 100%;
      @include mq('sp-down'){
        font-size: 14px;
        padding: 0 1px;
      }
    }
    &[type="text"]{
      &:hover, &:focus{
        border-color: #4973FF;
        outline: none;
        + .contact-focusLine {
          opacity: 1;
        }
      }
    }
    &[type="email"]{
      &:hover,&:focus{
        border-color: #4973FF;
        outline: none;
        + .contact-focusLine {
          opacity: 1;
        }
      }
    }
    &[type="radio"] {
      display: none;
      
    }
  } 
  select{
    border: none;
    border-radius: 0;
    border: 1px solid #3E3E3E;
    color: $color-text;
    font-size: 16px;
    font-weight: 500;
    height: 40px;
    line-height: 40px;
    padding: 0 34px 0 8px;
    outline: none;
    // セレクトボックスのデフォルトスタイルを消す
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
  
    @include mq('sp-up'){
      width: 180px;
  
      &:hover {
        -webkit-box-shadow: 0 0 4px #4973ff;
        box-shadow: 0 0 4px #4973ff;
      }
    } 
    @include mq('sp-down'){
      font-size: 14px;
      line-height: 38px;
      height: 38px;
      width: 100%;
    }
  }
  textarea{
    border: 1px solid #707070;
    border-radius: 0;
    height: 160px;
    margin-top: 16px;
    padding: 8px;
    width: 100%;
    font-size: 16px;
  
    @include mq('sp-up') {
      font-size: 16px;
      height: 200px;
      margin-top: 8px;
  
      &:hover {
        border-color: #4973ff;
        box-shadow: 0 0 4px #4973ff;
      }
    }
    &:focus {
      border-color: #4973ff;
      box-shadow: 0 0 4px #4973ff;
    }
  }
  
}
.contact-inputBox{ 
  // これがないとfocusLineが表示されない
  position: relative;
  @include mq('sp-up') {
		flex: 0 1 100%;
  }
  @include mq('sp-down'){
    margin-top: 6px;
    &.contact-item--radio{
      margin-top: 16px;
    }
  }
}
.contact-selectBox{
  position: relative;

  &:after{
    position: absolute;
    display: block;
    content: '';
    border-bottom: solid 2px #3E3E3E;
    border-right: solid 2px #3E3E3E;
    height: 8px;
    width: 8px;
    top: 14px;
    right: 16px;
    transform: rotate(45deg);

  }
  @include mq('sp-down') {
		margin-top: 12px;
	}
}
.contact-focusLine{
  position: absolute;
  display: block;
  content: '';
  width: 100%;
  height: 1px;
  box-shadow: 0 5px 4px rgba(73, 115, 255, 0.5);
  // 入力時・マウスオーバー時に表示のため
  opacity: 0;
  transition: opacity .2s;
  bottom: 1px;
  left: 0;
}
.contact-itemTtl{
  flex: 0 0 186px;
  font-weight: bold;
  // 上下左右中央に持ってくる
  display: flex;
  align-items: center;
}
.contact-requireLabel{
  display: inline-block;
  margin-left: 12px;
  background: #FF4646;
  color: #fff;
  border-radius: 2px;
  font-size: 12px;
  width: 40px;
  line-height: 16px;
  text-align: center;
  @include mq('sp-down') {
		margin-left: 20px;
	}
}
.contact-privacy{
  margin-top: 26px;

  @include mq('sp-up') {
		margin-top: 32px;
  }
  
}
.contact-privacyLabel{
  cursor: pointer;
  display: block;
  font-size: 16px;
  padding-left: 38px;
  font-weight: 700;
  position: relative;

  @include mq('sp-up') {
    font-size: 18px;
    padding-left: 42px;
  }

  &:before{
    display: block;
    position: absolute;
    content: '';
    width: 18px;
    height: 18px;
    border: 1px solid #707070;
    background: #fff;
    left: 0;
    top: -2px;

    @include mq('sp-up') {
			height: 20px;
			width: 20px;
		}
  }
  
  @include mq('sp-up'){

    &:hover{
      &::before{
        border-color: #4973FF;
        box-shadow: 0 0 5px #4973FF33 ;
      }
    }
    &:active{
      &::before{
        background-color: rgba(73, 115, 255, 0.2);
        box-shadow: none;
      }
    }
  }

  &:after{
    position: absolute;
    display: block;
    content: '';
    width: 12px;
    height: 6px;
    top: 3px;
    left: 5px;
    border-bottom: 2px solid #3B69FF;
    border-left: 2px solid #3B69FF;
    transform: rotate(-45deg);
    opacity: 0;
    transition: 0.2s; 
    @include mq('sp-down'){
      left: 4px;
    }
  }
}
input[type="checkbox"]:checked + .contact-privacyLabel:after {
  opacity: 1;
}
.contact-radio{
  display: inline-block;
  
  +.contact-radio{
    margin-left: 40px;
  }

}
.contact-radioLabel{
  position: relative;
  padding-left: 22px;

  &:before{
    background: #fff;
    position: absolute;
    content: '';
    display: block;
    width: 12px;
    height: 12px;
    border: 1px solid #707070;
    border-radius: 50%;
    left: 0;
    top: 2px;

  }
  @include mq('sp-up'){
    &:hover{
      &::before{
        border-color: #3B69FF;
        box-shadow: 0 0 6px #4973FF33;
      }
    }
    // クリック時
    &:active{
      &::before{
        background-color: rgba(73, 115, 255, 0.2);
        box-shadow: none;
      }
    }
  }
  &:after{
    position: absolute;
    display: block;
    content: '';
    width: 6px;
    height: 6px;
    background: #3B69FF;
    border-radius: 50%;
    top: 6px;
    left: 4px;
    opacity: 0;
  }
}
input[type="radio"]:checked + .contact-radioLabel:after{
  opacity: 1;
}

.contact-button{
  margin-top: 38px;
  width: 165px;
  background-color: $color-disable;
  @include mq('sp-up'){
    width: 173px;
    margin-top: 42px;
  }
  // 送信条件を満たしていない場合の表示
  &:disabled{
    background-color: $color-disable;
  }
  &.-active{
    background: $color-active;
  }
}
.contact-message{
  text-align: center;
  margin-top: 60px;
  display: none;
  &.-error{
    color: #f00;
  }

}
.contact-success{
  color: $color-active;
}
.contact-error{
  line-height: 1.5;
}

